mat-toolbar.mat-toolbar {
    margin: -24px -24px 24px -24px;
    width: calc(100% + 48px);
}
::ng-deep{ 
    .mat-dialog-container {
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
        display: block;
        padding: 24px;
        border-radius: 2px;
        box-sizing: border-box;
        overflow: auto;
        max-width: 80vw;
        outline: 0;
        width: 600px;
        height: 100%;
    }
}
@media screen and (max-width: 959px) {
    ::ng-deep{ 
        .mat-dialog-container {
            width: 80vw;
            height: 100%;
        }
    }
}