<footer class="footer clearfix">

	<div class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns">
		<div>
			<h4>ABOUT US</h4>
			<div class="section-description">
				<p>Appvity consists of a team of professionals that aspires to build productivity software that enables
					information professionals to work effectively. We build products that focus on Azure and Office 365
					cloud platform.</p>
			</div>
		</div>
		<div>
			<div class="d-flex flex-md-row flex-column align-items-stretch flex-wrap flex-6items">
				<div class="card">
					<div class="card-body">
						<h5>Appvity</h5>
						<ul>
							<li><a href="sitemap.html" class="a-link">Site Map</a></li>
							<li><a href="privacy-policy.html" class="a-link">Privacy Policy</a></li>
							<li><a href="terms-of-service.html" class="a-link">Terms of Service</a></li>
							<li><a href="accessibility.html" class="a-link">Accessibility</a></li>
							<!--<li><a href="feedback.html" class="a-link">Feedback</a></li>
							<li><a href="help.html" class="a-link">Help</a></li>-->
						</ul>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h5>Work</h5>
						<ul>
							<!--<li><a href="eCalendar.html" class="a-link">eCalendar</a></li>
							<li><a href="eStorage.html" class="a-link">eStorage</a></li>
							<li><a href="eResources.html" class="a-link">eResources</a></li>
							<li><a href="eTask.html" class="a-link">eTask</a></li>
							<li><a href="eProject.html" class="a-link">eProject</a></li>
							<li><a href="ePicture.html" class="a-link">ePicture</a></li>-->
							<li><a href="Services.html" class="a-link">Our Services</a></li>
							<li><a href="Pricing.html" class="a-link">Pricing</a></li>
						</ul>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h5>Support</h5>
						<ul>
							<li><a href="support.html" class="a-link">Support Center</a></li>
							<!-- <li><a href="blogs.html" class="a-link">Appvity Blogs</a></li> -->
							<li><a href="onlinedocs.html" class="a-link">Online Docs</a></li>
							<!-- <li><a href="demo.html" class="a-link">Demo Site</a></li> -->
							<li><a href="onlinedocs.html" class="a-link">FAQs</a></li>
						</ul>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h5>Partnership</h5>
						<p><img style="width: 100%" src="img/svg/Partner-Microsoft.svg" /></p>
						<p><img class="img-responsive" style="max-width:100%;"
								src="https://verify.authorize.net/anetseal/images/secure90x72.gif" /></p>
					</div>
				</div>
				<div class="card special-02">
					<div class="card-body">
						<h5>Contact us</h5>
						<div class="section-social">
							<ul class="d-flex flex-row">
								<li><a href="http://www.facebook.com/appvity"><img
											src="img/svg/social-facebook.svg" /></a></li>
								<li><a href="https://www.linkedin.com/company/appvity/"><img
											src="img/svg/social-linkedin.svg" /></a></li>
								<!--<li><a href="https://www.youtube.com/channel/appvity"><img src="img/svg/social-youtube.svg" /></a></li>-->
							</ul>
						</div>
						<p>&copy; 2012-<span id="CurrentYear"></span> Appvity. All rights reserved.</p>
					</div>
				</div>
				<!--<div class="col-md-4">
				  <div class="input-field">
					<input id="email" type="email" class="validate">
					<label for="email" data-error="wrong" data-success="right">Your email</label>
				  </div>
				  <div class="input-field">
					<textarea id="textarea1" class="materialize-textarea"></textarea>
					<label for="textarea1">What can we help you?</label>
				  </div>
				  <div class="input-field">
					<a class="waves-effect waves-light btn">Submit</a>
				  </div>
				</div>
				-->
			</div>
		</div>
	</div>
</footer>