<a id="btnMoveTop"><i class="ms-Icon ms-fontSize-42 ms-Icon--ChevronUp"></i></a>
<div class="app-navigation-wrap">
    <button id="btnPrevious"><i class="ms-Icon ms-fontSize-20 ms-Icon--ChevronLeft"></i>Previous</button>
    <button id="btnNext">Next<i class="ms-Icon ms-fontSize-20 ms-Icon--ChevronRight"></i></button>
</div>
<div class="app-feedback-wrap">
    <div>
        <span>Was The Information Helpful ?</span>
    </div>
    <div>
        <button id="btnYes">Yes</button>
        <button id="btnNo">No</button>
    </div>
</div>
<div class="app-feedback-text">
    <span>Thank you about feedback of you</span>
    <!-- <button id="btnGet">Get cookie</button> -->
</div>