<!DOCTYPE html>
<html lang="en">
  <head>
    <!--  Meta  -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block headTitle %}{% endblock %}

    <!-- Meta SEO -->
    {% include "meta.html" %}

    <!-- Favicons -->
    <link rel="shortcut icon" href="img/fav016.png" />

    <!--  Styles  -->
    <link rel="stylesheet" href="css/core.css?rev=1.0.0.0" />
    <link rel="stylesheet" href="css/styles.css?rev=1.0.0.0" />
  </head>

  <body class="materialize block-index-pages">
    {% block headerMode %}{% endblock %} {% block indexContent %}{% endblock %} {%
    include "footer.html" %}

    <!-- Scripts -->
    <script src="js/core.js?rev=1.0.0.0"></script>
    {% block scriptInline %}{% endblock %}
    <script src="js/app.js?rev=1.0.0.0"></script>
  </body>
</html>
