{% block headMeta %}
<!-- Meta Tag-->
<meta name="keywords" content="eTask, Appvity, eBug, Teams, Guide line">
<meta name="description" content="Appvity eTask Guide Line">
<!-- <meta name="robots" content="noindex, nofollow"> -->
<!-- SEO MAP-->
<meta name="DC.title" content="eTask, Appvity, eBug, Teams, Guide line">
<meta name="geo.region" content="VN-64">
<meta name="geo.placename" content="Appvity">
<meta name="geo.position" content="">
<meta name="ICBM" content="">
<!-- SEO-->
<meta name="author" content="Loc Nguyen">
<link rel="canonical" href="">
<!-- Social: Twitter-->
<meta name="twitter:card" content="eTask, Appvity, eBug, Teams, Guide line">
<meta name="twitter:site" content="http://appvity.com/">
<meta name="twitter:creator" content="@author">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="Appvity Branding">
<meta name="twitter:image:src" content="http://appvity.com/public/img/logo.png">
<!-- Social: Facebook / Open Graph-->
<meta property="fb:admins" content="">
<meta property="fb:app_id" content="">
<meta property="og:url" content="http://appvity.com/">
<meta property="og:type" content="article">
<meta property="og:title" content="Appvity Branding">
<meta property="og:description" content="Appvity Branding">
<meta property="og:site_name" content="Loc Nguyen">
<meta property="article:author" content="">
<meta property="article:publisher" content="">
<!-- Social: Google / Schema.org-->
<link rel="author" href="">
<link rel="publisher" href="">
<meta itemprop="name" content="">
<meta itemprop="description" content="Appvity Branding">
<meta itemprop="image" content="http://appvity.com/public/img/logo.png">
<!-- Meta Tag Search-->
<link rel="search" type="application/opensearchdescription+xml" title="" href="http://appvity.com/SearchEngineInfo.xml">
<meta name="robots" content="index, follow">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Appvity Branding">
<link rel="alternate" hreflang="x-default" href="http://appvity.com/">
<link rel="alternate" hreflang="vi-VN" href="http://appvity.com/">
{% endblock %}