<div class="input-field col s12">
	<i class="material-icons app-leftNav-search dp48">search</i>
	<input type="text" id="autocomplete-input" placeholder="Filter topics" class="autocomplete" />
	<!-- <input type="text" id="autocomplete-input" placeholder="Filter topics" class="autocomplete"  onkeyup="filter(this)" /> -->
	<!-- <label for="autocomplete-input">Autocomplete</label> -->
</div>
<ul id="sidenav" class="app-leftNav-parent">
	<li class="app-blank-result" style="display:none">No result</li>
	<li class="no-padding app-item-parent">
		<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
			<li class="collapsible-header app-menu-item-wrap">
				<a id="app-menu-item-0" class="app-menu-item" href="introduction.html">Introduction</a>
			</li>
		</ul>
	</li>
	<li class="no-padding app-item-parent">
		<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
			<li class="parent-collapsible-header">
				<div class="collapsible-header">
					<i class="material-icons right collapse">chevron_right</i>
					<i class="material-icons right expand">expand_more</i>
					<a>eTask User Operations</a>
				</div>
				<div class="collapsible-body">
					<ul>
						<li class="app-menu-item-wrap">
							<a id="app-menu-item-1" class="app-menu-item" href="defaulthomescreen.html">Default Home Screen</a>
						</li>
						<li class="app-menu-item-wrap">
							<a id="app-menu-item-2" class="app-menu-item" href="leftnavigation.html">Left Navigation</a>
						</li>
						<li class="parent-collapsible">
							<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
								<li class="parent-collapsible-header">
									<div class="collapsible-header">
										<i class="material-icons right collapse">chevron_right</i>
										<i class="material-icons right expand">expand_more</i>
										<a>Views</a>
									</div>
									<div class="collapsible-body">
										<ul>
											<li class="app-menu-item-wrap">
												<a id="app-menu-item-3" class="app-menu-item" href="customization.html">Customization</a>
											</li>
											<li class="parent-collapsible">
												<ul class="collapsible collapsible-accordion"
													data-collapsible="accordion">
													<li class="parent-collapsible-header">
														<div class="collapsible-header">
															<i class="material-icons right collapse">chevron_right</i>
															<i class="material-icons right expand">expand_more</i>
															<a>Team Task</a>
														</div>
														<div class="collapsible-body">
															<ul>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-4" class="app-menu-item" href="overviewteamtask.html">Overview</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-5" class="app-menu-item" href="keyfeaturesteamtask.html">Key features</a>
																</li>
															</ul>
														</div>
													</li>
												</ul>
											</li>
											<li class="parent-collapsible">
												<ul class="collapsible collapsible-accordion"
													data-collapsible="accordion">
													<li class="parent-collapsible-header">
														<div class="collapsible-header">
															<i class="material-icons right collapse">chevron_right</i>
															<i class="material-icons right expand">expand_more</i>
															<a>Team Board</a>
														</div>
														<div class="collapsible-body">
															<ul>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-6" class="app-menu-item" href="overviewteamboard.html">Overview</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-7" class="app-menu-item" href="taskcard.html">Task card</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-8" class="app-menu-item" href="keyfeaturesteamboard.html">Key features</a>
																</li>
															</ul>
														</div>
													</li>
												</ul>
											</li>
											<li class="parent-collapsible">
												<ul class="collapsible collapsible-accordion"
													data-collapsible="accordion">
													<li class="parent-collapsible-header">
														<div class="collapsible-header">
															<i class="material-icons right collapse">chevron_right</i>
															<i class="material-icons right expand">expand_more</i>
															<a>Team progress</a>
														</div>
														<div class="collapsible-body">
															<ul>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-9" class="app-menu-item" href="overviewteamprogress.html">Overview</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-10" class="app-menu-item" href="keyfeaturesteamprogress.html">Key
																		features</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-11" class="app-menu-item" href="widgets.html">Widgets</a>
																</li>
															</ul>
														</div>
													</li>
												</ul>
											</li>
											<li class="parent-collapsible">
												<ul class="collapsible collapsible-accordion"
													data-collapsible="accordion">
													<li class="parent-collapsible-header">
														<div class="collapsible-header">
															<i class="material-icons right collapse">chevron_right</i>
															<i class="material-icons right expand">expand_more</i>
															<a>Team Gantt</a>
														</div>
														<div class="collapsible-body">
															<ul>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-12" class="app-menu-item" href="overviewteamgantt.html">Overview</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-13" class="app-menu-item" href="searchteamgantt.html">Search</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-14" class="app-menu-item" href="filterteamgantt.html">Filter</a>
																</li>
															</ul>
														</div>
													</li>
												</ul>
											</li>
											<li class="parent-collapsible">
												<ul class="collapsible collapsible-accordion"
													data-collapsible="accordion">
													<li class="parent-collapsible-header">
														<div class="collapsible-header">
															<i class="material-icons right collapse">chevron_right</i>
															<i class="material-icons right expand">expand_more</i>
															<a>Team Calendar</a>
														</div>
														<div class="collapsible-body">
															<ul>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-15" class="app-menu-item" href="overviewteamcalendar.html">Overview</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-16" class="app-menu-item" href="searchteamcalendar.html">Search</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-17" class="app-menu-item" href="filterteamcalendar.html">Filter</a>
																</li>
															</ul>
														</div>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</li>
						<li class="app-menu-item-wrap">
							<a id="app-menu-item-18" class="app-menu-item" href="task.html">Task</a>
						</li>
						<li class="parent-collapsible">
							<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
								<li class="parent-collapsible-header">
									<div class="collapsible-header">
										<i class="material-icons right collapse">chevron_right</i>
										<i class="material-icons right expand">expand_more</i>
										<a>Personal View</a>
									</div>
									<div class="collapsible-body">
										<ul>
											<li class="app-menu-item-wrap">
												<a id="app-menu-item-19" class="app-menu-item" href="mytask.html">My Task</a>
											</li>
											<li class="app-menu-item-wrap">
												<a id="app-menu-item-20" class="app-menu-item" href="myproject.html">My Project</a>
											</li>
											<li class="parent-collapsible">
												<ul class="collapsible collapsible-accordion"
													data-collapsible="accordion">
													<li class="parent-collapsible-header">
														<div class="collapsible-header">
															<i class="material-icons right collapse">chevron_right</i>
															<i class="material-icons right expand">expand_more</i>
															<a>PM Dashboard</a>
														</div>
														<div class="collapsible-body">
															<ul>
																<li class="app-menu-item-wrap">
				   
																	<a id="app-menu-item-21" class="app-menu-item" href="introductionpmdashboard.html">Introduction</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-22" class="app-menu-item" href="howtocreatepmdashboard.html">How to
																		Create</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-23" class="app-menu-item" href="customizedashboard.html">Customize
																		dashboard</a>
																</li>
															</ul>
														</div>
													</li>
												</ul>
											</li>
											<li class="app-menu-item-wrap">
												<a id="app-menu-item-24" class="app-menu-item" href="aboutpersonalview.html">About</a>
											</li>
											<li class="app-menu-item-wrap">
												<a id="app-menu-item-25" class="app-menu-item" href="chartdrilldown.html">Chart Drill Down</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</li>
						<li class="parent-collapsible">
							<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
								<li class="parent-collapsible-header">
									<div class="collapsible-header">
										<i class="material-icons right collapse">chevron_right</i>
										<i class="material-icons right expand">expand_more</i>
										<a>Smart features</a>
									</div>
									<div class="collapsible-body">
										<ul>
											<li class="parent-collapsible">
												<ul class="collapsible collapsible-accordion"
													data-collapsible="accordion">
													<li class="parent-collapsible-header">
														<div class="collapsible-header">
															<i class="material-icons right collapse">chevron_right</i>
															<i class="material-icons right expand">expand_more</i>
															<a>eBot</a>
														</div>
														<div class="collapsible-body">
															<ul>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-26" class="app-menu-item" href="overviewebot.html">Overview</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-27" class="app-menu-item" href="projectebot.html">Project</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-28" class="app-menu-item" href="taskebot.html">Task</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-29" class="app-menu-item" href="bugebot.html">Bug</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-30" class="app-menu-item" href="helpebot.html">Help</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-31" class="app-menu-item" href="findatask.html">Find a task</a>
																</li>
																<li class="app-menu-item-wrap">
																	<a id="app-menu-item-32" class="app-menu-item" href="findabug.html">Find a bug</a>
																</li>
															</ul>
														</div>
													</li>
												</ul>
											</li>
											<li class="app-menu-item-wrap">
												<a id="app-menu-item-33" class="app-menu-item" href="directmessageaction.html">Direct message Action</a>
											</li>
											<!-- <li class="app-menu-item-wrap">
												<a id="app-menu-item-34" class="app-menu-item" href="aichatbot.html">AI Chatbot</a>
											</li> -->
										</ul>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
</ul>