{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<div class="page-section">
			<h3>Direct message Action</h3>
			<p>From “Conversations” tab, click on action menu ”<img src="img/HelpPage/etask-AI-ebot-action-5.png">”,
				choose “More actions”.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-AI-ebot-action.png">
			<p>Click on:</p>
			<ul class="a-list">
				<li>
					<p>Create a task in eTask: Show create task form.</p>
					<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-AI-ebot-action-1.png">
					<p>After inputting fields and click “Save”, system will reply a message “Task {ID} has been
						created!” and a task card like below:</p>
					<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-AI-ebot-action-2.png">
				</li>
				<li>
					<p>Create a bug in eBug: Show create bug form.</p>
					<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-AI-ebot-action-3.png">
					<p>After inputting fields and click “Save”, system will reply a message “Bug {ID} has been created!”
						and a bug card like below:</p>
					<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-AI-ebot-action-4.png">
				</li>
			</ul>
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}