{% extends "layout.html" %}

{% block headerMode %}
<div class="default">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask</title>
{% endblock %}

{% block indexContent %}
<!-- Start Banner -->
<div id="app-slider" class="slider align-vertical-center-container">
	<ul class="slides">
		<li>
			<img src="img/appvity-eBug.jpg" />
			<!-- random image -->
			<div class="caption left-align d-flex align-items-stretch align-vertical-center">
				<!--<div class="a-video">
		<iframe width="250" height="144" src="https://www.youtube.com/embed/mjMW51EFNVw" frameborder="0" allow="autoplay; encrypted-media"
		  allowfullscreen></iframe>
	  </div>
	  -->
				<div>
					<img src="img/svg/eBug-bright.svg" />
					<h3>eBug</h3>
					<h5 class="light grey-text text-lighten-3">eBug allows teams to collaborate in real-time while
						managing defects. More importantly, eBug allows your team
						to learn and get better in developing and fixing defects, enabling the delivery of
						world-class products.</h5>
				</div>
				<!--<div class="input-field modal-trigger" data-target="modal1">
		<a class="waves-effect waves-light btn">Watch Video</a>
	  </div>-->
			</div>
		</li>
	</ul>
</div>
<!-- End Banner -->

<!-- Start Body -->

<div class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns">
	<div>
		<h4>Benefits</h4>
		<div class="section-description">
			<p>eBug extends eTask, while integrated into Microsoft Teams environment, providing seamless execution
				of your team
				collaboration. Organize bug fixes and manage workflow using the familiar dashboard, table, and
				reports. Your Teams
				channel is a central place to see the big picture and detailed tasks and related bugs from different
				data sources.</p>
		</div>
	</div>
	<div>
		<div class="d-flex flex-md-row flex-column align-items-stretch flex-wrap a-screenshots">
			<!-- Nav pills -->
			<div class="a-tabnav">
				<ul class="responsive nav nav-pills col-md-12 col-12 order-md-1 order-0 d-none d-md-block"
					role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="pill" href="#menu0">Provide a 360 view of your
							project by linking your eBug items to your eTask, where data is aggregated from
							Azure DevOps, JIRA, Planner, and SharePoint or a local eBug database.</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#menu1">Leverage Teams capability such as deep
							link conversation to provide focus on any single bug and related task.</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#menu2">Personal dashboard view of your
							rolled-up tasks and bugs across all projects for better prioritization and
							communication in the enterprise.</a>
					</li>
				</ul>
			</div>
			<!-- Tab panes -->
			<div id="app-collapse-on-phone" class="accordion tab-content col-md-12 col-12 order-md-0 order-1">
				<div id="menu0" class="tab-pane fade in show active animated fadeIn">

					<div class="card-header  p-0" role="tab" id="heading-A">
						<a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A"
							class="">
							Provide a 360 view of your project by linking your eBug items to your eTasks where data
							is aggregated data from Azure DevOps,
							JIRA, Planner, and SharePoint or a local eBug database.
						</a>
					</div>
					<div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A" style=""
						data-parent="#app-collapse-on-phone">
						<img src="http://www.mediafire.com/convkey/2514/n2h0joime0tbg9zzg.jpg">
					</div>

				</div>
				<div id="menu1" class="tab-pane fade in show animated fadeIn">

					<div class="card-header  p-0" role="tab" id="heading-B">
						<a data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B"
							class="collapsed">
							Leverage Teams capability such as deep link conversation to provide focus on any single
							bug and related task.
						</a>
					</div>
					<div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B" style=""
						data-parent="#app-collapse-on-phone">
						<img src="http://www.mediafire.com/convkey/2514/n2h0joime0tbg9zzg.jpg">
					</div>

				</div>
				<div id="menu2" class="tab-pane fade in show animated fadeIn">

					<div class="card-header  p-0" role="tab" id="heading-C">
						<a data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="collapse-C"
							class="collapsed">
							Personal dashboard view of your rolled-up tasks and bugs across all projects for better
							prioritization and communication
							in the enterprise.
						</a>
					</div>
					<div id="collapse-C" class="collapse" role="tabpanel" aria-labelledby="heading-C" style=""
						data-parent="#app-collapse-on-phone">
						<img src="http://www.mediafire.com/convkey/cc58/2f8yi5fdhj5ytphzg.jpg">
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div
	class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns a-benefits no-hover">
	<div class="">
		<h4>Features</h4>
		<div class="section-description">
			<p>Besides leveraging Teams' collaboration features, practical functionalities for real world usage are
				the stars of
				eBug.
			</p>
		</div>
	</div>
	<div class="darken-2">
		<div class="d-flex flex-md-row flex-column align-items-stretch flex-wrap flex-4items">
			<div class="card">
				<div class="card-body">
					<img src="img/svg/Features-workflow.svg" />
					<h5>Workflow</h5>
					<p class="card-text">eTask provides out-of-the-box workflow for task status changes to handle
						typical business flow when a tasks status
						changes from one state to another.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<img src="img/svg/Features-conversation.svg" />
					<h5>Deep Link Conversation</h5>
					<p class="card-text">Your team can discuss and start conversation around a single task within
						the project.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<img src="img/svg/Features-views.svg" />
					<h5>Customizable Views</h5>
					<p class="card-text">eTasks provide a table view, a full feature (include drag and drop) Kanban
						board view,a nd a Chart dashboard
						view. These views can be customized per user and can be shared within the team.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<img src="img/svg/Features-alerts.svg" />
					<h5>Alerts</h5>
					<p class="card-text">eTask provide alerts for the following conditions:</p>
					<ul class="a-list">
						<li>Task is overdue</li>
						<li>Task is about due</li>
						<li>Alert template can be customized, and alerts can be configured to send to select-able
							users/groups</li>
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<img src="img/svg/Features-datasources.svg" />
					<h5>Data Sources</h5>
					<p class="card-text">eTasks can aggregate data from the following system: VSTS, JIRA, and
						Planner. Columns from these system can be
						mapped into the default schema used by eTasks. Data edited in eTask are pushed back to the
						source.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<img src="img/svg/Features-usermapping.svg" />
					<h5>User Mapping</h5>
					<p class="card-text">eTasks can associate different accounts from various data sources as a
						single user. This feature allow you to
						view and update data from single access account in Teams.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<img src="img/svg/Features-personal.svg" />
					<h5>Personal Dashboard</h5>
					<p class="card-text">User can view all tasks across all data sources, all teams, all channels
						into one single personal dashboard in
						Teams.
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<img src="img/svg/Features-security.svg" />
					<h5>Security</h5>
					<p class="card-text">Users are authenticated and access securely using the same security
						architecture of Office 365 and Teams.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns a-specs">
	<div>
		<h4>Specifications</h4>
		<div class="section-description">
			<p>We created small and simple apps that take care of your tasks, issues, and alerts within the Office
				365 and Teams
				environment.
			</p>
		</div>
	</div>
	<div class="d-flex flex-md-row flex-column flex-wrap flex-4items">
		<div class="card" style="background-image:url(img/spec-O365.jpg);">
			<div class="card-body">
				<div>
					<img src="img/svg/specs-O365.svg" />
				</div>
				<h5 class="card-title">Office 365</h5>
				<div class="note">Required</div>
			</div>
		</div>
		<div class="card" style="background-image:url(img/spec-MSTeams.jpg);">
			<div class="card-body">
				<div>
					<img src="img/svg/specs-teams.svg" />
				</div>
				<h5 class="card-title">Microsoft Teams</h5>
				<p class="card-text">Collaborate for free with online versions </p>
				<div class="note">Required</div>
			</div>
		</div>
		<div class="card optional" style="background-image:url(img/spec-sources.jpg);">
			<div class="card-body">
				<div>
					<img src="img/svg/specs-vsts.svg" />
					<h6 class="card-title">Visual Studio Online</h6>
				</div>

				<div>
					<img src="img/svg/specs-jira.svg" />
					<h6 class="card-title">Jira</h6>
				</div>

				<div class="note">Optional</div>
			</div>
		</div>
		<div class="card optional" style="background-image:url(img/spec-mobile.jpg);">
			<div class="card-body">
				<div>
					<img src="img/svg/specs-android.svg" />
					<h6 class="card-title">Android</h6>
				</div>

				<div>
					<img src="img/svg/specs-ios.svg" />
					<h6 class="card-title">iOS</h6>
				</div>

				<div class="note">Optional</div>
			</div>
		</div>
	</div>
</div>

<div
	class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns highlight a-actions">
	<div>
		<h4>Take Actions</h4>
	</div>
	<div class="d-flex flex-md-row flex-column flex-wrap flex-4items">
		<div class="card action-mainitem actions-try">
			<div data-target="modal-purchase" class="card-body app-support-product-popup modal-trigger clickable">
				<h5 class="card-title">Try eBug Now!</h5>
				<p class="app-hover-underline">Take a test drive before making purchase decision ></p>
			</div>
		</div>
		<div class="card actions-support">
			<div class="card-body modal-trigger clickable" data-target="modal">
				<h5 class="card-title">Support</h5>
				<p class="app-hover-underline">Have a question about eBug ></p>
			</div>
		</div>
		<div class="actions-userguide">
			<a href="help-eBug.html" class="a-link-default">
				<div class="card" style="margin-top:0">
					<div class="card-body">
						<h5 class="card-title">User Guide</h5>
						<p class="app-hover-underline">Read eBug's documentation ></p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>

<!--
<div class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns a-document">
<div class="">
  <h4>Related products</h4>
</div>
<div class="text-center">
  <div class="d-flex flex-md-row flex-column align-items-stretch flex-wrap flex-6items">
	<div class="card" onclick="window.location='eTask.html'">
	  <div class="card-body">
		<a href="eTask.html">
		  <div>
			<img src="img/svg/eTask-dark.svg" />
		  </div>
		  <h6 class="card-title">eTask</h6>
		</a>
	  </div>
	</div>
	<div class="card" onclick="window.location='underconstruction.html'">
	  <div class="card-body">
		<a href="underconstruction.html">
		  <div>
			<img src="img/svg/eProject-dark.svg" />
		  </div>
		  <h6 class="card-title">eProject</h6>
		</a>
	  </div>
	</div>
  </div>
</div>
</div>
-->
<!-- End Body -->
<!-- Modal -->
<div id="modal1" class="modal">
	<div class="modal-content">
		<h4>eTask Videos</h4>
		<div>
			<div class="a-video">
				<iframe width="250" height="144" src="https://www.youtube.com/embed/mjMW51EFNVw" frameborder="0"
					allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<div style="width:250px; padding-bottom:24px">How to install Appvity eTask version 9.2</div>
			</div>
			<div class="a-video">
				<iframe width="250" height="144" src="https://www.youtube.com/embed/mjMW51EFNVw" frameborder="0"
					allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<div style="width:250px; padding-bottom:24px">How to config settingsbefore using Appvity eTask
				</div>
			</div>
			<div class="a-video">
				<iframe width="250" height="144" src="https://www.youtube.com/embed/mjMW51EFNVw" frameborder="0"
					allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<div style="width:250px; padding-bottom:24px">Appvity eTask introduction</div>
			</div>
			<div class="a-video">
				<iframe width="250" height="144" src="https://www.youtube.com/embed/mjMW51EFNVw" frameborder="0"
					allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<div style="width:250px; padding-bottom:24px">How to config settingsbefore using Appvity eTask
				</div>
			</div>
			<div class="a-video">
				<iframe width="250" height="144" src="https://www.youtube.com/embed/mjMW51EFNVw" frameborder="0"
					allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<div style="width:250px; padding-bottom:24px">Appvity eTask introduction</div>
			</div>
		</div>
	</div>
</div>
<!-- End Modal-->
<div w3-include-html="include-footer.html"></div>
<div id="modal" class="modal app-modal-support-product">
	<div class="modal-content">
		<h4>Ask Us A Question</h4>
		<div class="section-description">
			<div class="input-field">
				<input id="email" type="email" class="validate cleartext">
				<label for="email" data-error="wrong" data-success="right">Email</label>
			</div>
			<div class="input-field">
				<input id="subject" type="text" class="validate cleartext">
				<label for="subject">Subject</label>
			</div>
			<div class="input-field">
				<textarea id="description" class="materialize-textarea cleartext"></textarea>
				<label for="description">Description</label>
			</div>
			<div class="input-field right">
				<a id="sendmailSubmit" class="waves-effect waves-light btn" onclick="javascript:sendEmail()">send</a>
			</div>
		</div>
	</div>
</div>
<div id="modal-purchase" class="modal app-modal-support-product">
	<div class="modal-content">
		<div
			class="d-flex flex-column justify-content-between align-items-stretch flex-2columns a-pricing a-pricing-fixed">
			<div>
				<h4>Purchase</h4>
			</div>
			<div class="d-flex flex-md-row flex-column flex-wrap flex-3items">
				<div class="card">
					<div class="card-body">
						<div class="a-pricing-icon groupuser-small"></div>
						<h5 class="card-title">For less than 10 users</h5>
						<h5 class="pricing-price">
							<span class="pricing-unit">$</span>
							<span class="pricing-value">20</span>
						</h5>
						<p>
							<b>Flat monthly fee</b>
						</p>
						<p class="card-text">Fixed, affordable price to get started.</p>
						<div class="input-field">
							<a class="waves-effect waves-light btn">Purchase Now</a>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="a-pricing-icon groupuser-medium"></div>
						<h5 class="card-title">From 11 to 100 users</h5>
						<h5 class="pricing-price">
							<span class="pricing-unit">$</span>
							<span class="pricing-value">8.49</span>
						</h5>
						<p>
							<b>per user/month</b>
						</p>
						<p class="card-text">Flexible price per user per month.  Change your subscription or cancel
							at any time.</p>
						<div class="input-field">
							<a class="waves-effect waves-light btn">Purchase Now</a>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="a-pricing-icon groupuser-large"></div>
						<h5 class="card-title">For more than 100 users</h5>
						<h5 class="pricing-price">
							<span class="pricing-unit">$</span>
							<span class="pricing-value">6.99</span>
						</h5>
						<p>
							<b>per user/month</b>
						</p>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk
							of the card's content.</p>
						<div class="input-field">
							<a class="waves-effect waves-light btn">Purchase Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- modal send mail success -->
<div data-target="modalSuccess" class="modal-trigger sendmail-success">
</div>
<div id="modalSuccess" class="modal modal-popupevent popup-sendmailsuccess">
	<div class="modal-content">
		<div>
			<span>Thank you for contacting us. We will reply to your message soon.</span>
		</div>
	</div>
</div>
<!-- end modal send mail success -->

<!-- modal send mail failure -->
<div data-target="modalFailure" class="modal-trigger sendmail-failure">
</div>
<div id="modalFailure" class="modal modal-popupevent popup-sendmailfail">
	<div class="modal-content">
		<div>
			<span>Sorry, somethings went wrong.</span>
		</div>
	</div>
</div>
<!-- end modal send mail failure -->
{% endblock %}

{% block scriptInline %}
<script src="js/products.js?rev=1.0.0.0" ></script>
<!-- <script>
	function eventSlickSlide() {
		$(".responsive").slick({
			dots: true,
			speed: 300,
			slidesToShow: 3,
			slidesToScroll: 1,
			centerMode: true,
			focusOnSelect: true,
			responsive: [
				{
					breakpoint: 1367,
					settings: {
						dots: true,
						speed: 300,
						slidesToShow: 2,
						slidesToScroll: 1,
						centerMode: true,
						focusOnSelect: true,
					}
				}
			]
		});
	}

	function Custombyitem() {
		if ($('.slick-slide').length >= 4) {
			eventClickItemSlide();
			eventClickDot();
		}
		else if ($('.slick-slide').length < 4) {
			eventClickItemSlide02();
		}
	}

	function eventClickItemSlide() {
		$('.a-tabnav li.nav-item a').on('click', function () {
			setTimeout(
				function () {
					$('li.nav-item a').removeClass('active');
					$('li.nav-item a.active').removeClass('active');
					$('.slick-slide.slick-current.slick-active li.nav-item a').addClass('active');
					var menuID = $('.a-tabnav li.nav-item a.active').attr('href');
					if (menuID != null || menuID != undefined) {
						$('#app-collapse-on-phone .tab-pane').removeClass('active');
						$('' + menuID + '').addClass('active');
					}
				}, 300);
		});
	}
	function eventClickDot() {
		$('.slick-dots li button').on('click', function () {
			setTimeout(
				function () {
					$('li.nav-item a').removeClass('active');
					$('li.nav-item a.active').removeClass('active');
					$('.slick-slide.slick-current.slick-active li.nav-item a').addClass('active');
					var menuID = $('.a-tabnav li.nav-item a.active').attr('href');
					if (menuID != null || menuID != undefined) {
						$('#app-collapse-on-phone .tab-pane').removeClass('active');
						$('' + menuID + '').addClass('active');
					}
				}, 300);
		});
	}
	function eventClickItemSlide02() {
		$('.a-tabnav li.nav-item a').on('click', function () {
			$('li.nav-item a').removeClass('active');
			$('li.nav-item a.active').removeClass('active');
			$(this).addClass('active');
			var menuID = $('.a-tabnav li.nav-item a.active').attr('href');
			if (menuID != null || menuID != undefined) {
				$('#app-collapse-on-phone .tab-pane').removeClass('active');
				$('' + menuID + '').addClass('active');
			}
		});
	}

	$(document).ready(function () {
		eventSlickSlide();
		Custombyitem();
	});

	function sendEmail() {
		var email = document.getElementById("email").value;
		var subject = document.getElementById("subject").value;
		var description = document.getElementById("description").value;

		var data = {
			"EmailAddress": email,
			"Subject": subject,
			"Body": description
		};

		$('#sendmailSubmit').attr('disabled', true);
		$.ajax({
			url: "/appvitycore/api/SendEmail",
			type: 'POST',
			dataType: 'json',
			data: data,

			success: function (result) {
				$(".sendmail-success").click();
				$('.cleartext').val('');
				$('#sendmailSubmit').attr('disabled', true);
			},
			error: function (request, status, errorThrown) {
				$(".sendmail-failure").click();
			}
		});
	}
	function displayButtonSend() {
		$('#sendmailSubmit').attr('disabled', true);
		$(".cleartext").keyup(function () {
			if ($('#email').val().length > 0 && $('#subject').val().length > 0 && $('#description').val().length > 0) {
				$('#sendmailSubmit').attr('disabled', false);
			}
			else if ($('#email').val().length == 0 || $('#subject').val().length == 0 || $('#description').val().length == 0) {
				$('#sendmailSubmit').attr('disabled', true);
			}
		});
	}
	$(document).ready(function () {
		displayButtonSend();
	});
</script> -->
{% endblock %}