{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">

		<h3>Title Page</h3>
		<p>(Dùng thẻ h3 để viết tiêu đề Page)</p>
		<div class="page-section">

			<h4>Title Page Section</h4>
			<p>(Dùng thẻ h4 để viết tiêu đề Page Section, tiêu đề này cũng sẽ được dùng để làm mục lục ở bên phải phần
				"In this topic")</p>


			<p>Dùng class "a-list" cho các kiểu list node tròn:</p>
			<ul class="a-list">
				<li>paragraphs</li>
				<li>words</li>
				<li>bytes</li>
				<li>lists</li>
			</ul>


			<p>Dùng class "a-list a-list-decimal" cho các kiểu list node số:</p>
			<ul class="a-list a-list-decimal">
				<li>paragraphs</li>
				<li>words</li>
				<li>bytes</li>
				<li>lists</li>
			</ul>


			<p>Dùng class "a-screenshot-landscape-small" cho hình chiều ngang nhỏ:</p>
			<img class="a-screenshot-landscape-small" src="img/HelpPage/etask-task-home.png">


			<p>Dùng class "a-screenshot-landscape-large" cho hình chiều ngang lớn:</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-task-home.png">


			<p>Dùng class "a-screenshot-portrait" cho hình chiều dọc:</p>
			<img class="a-screenshot-portrait" src="img/HelpPage/etask-leftnav-2.png">


		</div>
		<div class="page-section">
			<h4>Title Page Section 2</h4>


			<p>Dùng class "a-icon" cho các icon nhỏ:</p>
			<p>Lorem ipsum dolor sit amet, <img class="a-icon" src="img/HelpPage/etask-icon-hamburger.png"> consectetur
			</p>


			<p>Dùng class "color-red" cho các text màu đỏ:</p>
			<div class="color-red">Note: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua</div>


			<p>Dùng class "text-bold" cho các text bôi đậm:</p>
			<p class="text-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua</p>
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}