{% extends "blog-layout.html" %}

{% block headTitle %}
<title>Help</title>
{% endblock %}

{% block blogContent %}
<div class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns appvity-help">
	<div id="help-side-nav">
		<div class="a-blogcategories">
			<h5>Appvity Help</h5>
			<div class="d-flex flex-md-row flex-column flex-wrap app-treeview">
				<ul class="collapsible expandable app-treview-parent">
					<li>
						<div class="collapsible-header"><i
								class="material-icons app-expanded-treeview-ico">keyboard_arrow_down</i><i
								class="material-icons app-collapse-treeview-ico">keyboard_arrow_right</i>eTask</div>
						<div class="collapsible-body">
							<ul class="app-treeview-child">
								<li><a href="#eTaskIntroduction">Introduction</a></li>
								<li><a href="help-product/eTask/userguide.html">User operating guide</a></li>
								<li><a href="help-product/eTask/settings.html">Settings & Configurations</a></li>
								<li><a href="help-product/eTask/faqs.html">FAQs</a></li>
								<li><a href="help-product/eTask/references.html">References</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i
								class="material-icons app-expanded-treeview-ico">keyboard_arrow_down</i><i
								class="material-icons app-collapse-treeview-ico">keyboard_arrow_right</i>eBug</div>
						<div class="collapsible-body">
							<ul class="app-treeview-child">
								<li><a href="help-product/eBug/introduction.html">Introduction</a></li>
								<li><a href="help-product/eBug/userguide.html">User operating guide</a></li>
								<li><a href="help-product/eBug/settings.html">Settings & Configurations</a></li>
								<li><a href="help-product/eBug/faqs.html">FAQs</a></li>
								<li><a href="help-product/eBug/references.html">References</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i
								class="material-icons app-expanded-treeview-ico">keyboard_arrow_down</i><i
								class="material-icons app-collapse-treeview-ico">keyboard_arrow_right</i>eCalendar
						</div>
						<div class="collapsible-body">
							<ul class="app-treeview-child">
								<li><a href="help-product/eCalendar/introduction.html">Introduction</a></li>
								<li><a href="help-product/eCalendar/userguide.html">User operating guide</a></li>
								<li><a href="help-product/eCalendar/settings.html">Settings & Configurations</a>
								</li>
								<li><a href="help-product/eCalendar/faqs.html">FAQs</a></li>
								<li><a href="help-product/eCalendar/references.html">References</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i
								class="material-icons app-expanded-treeview-ico">keyboard_arrow_down</i><i
								class="material-icons app-collapse-treeview-ico">keyboard_arrow_right</i>eResources
						</div>
						<div class="collapsible-body">
							<ul class="app-treeview-child">
								<li><a href="help-product/eResources/introduction.html">Introduction</a></li>
								<li><a href="help-product/eResources/userguide.html">User operating guide</a></li>
								<li><a href="help-product/eResources/settings.html">Settings & Configurations</a>
								</li>
								<li><a href="help-product/eResources/faqs.html">FAQs</a></li>
								<li><a href="help-product/eResources/references.html">References</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i
								class="material-icons app-expanded-treeview-ico">keyboard_arrow_down</i><i
								class="material-icons app-collapse-treeview-ico">keyboard_arrow_right</i>eProject
						</div>
						<div class="collapsible-body">
							<ul class="app-treeview-child">
								<li><a href="help-product/eProject/introduction.html">Introduction</a></li>
								<li><a href="help-product/eProject/userguide.html">User operating guide</a></li>
								<li><a href="help-product/eProject/settings.html">Settings & Configurations</a></li>
								<li><a href="help-product/eProject/faqs.html">FAQs</a></li>
								<li><a href="help-product/eProject/references.html">References</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i
								class="material-icons app-expanded-treeview-ico">keyboard_arrow_down</i><i
								class="material-icons app-collapse-treeview-ico">keyboard_arrow_right</i>ePicture
						</div>
						<div class="collapsible-body">
							<ul class="app-treeview-child">
								<li><a href="help-product/ePicture/introduction.html">Introduction</a></li>
								<li><a href="help-product/ePicture/userguide.html">User operating guide</a></li>
								<li><a href="help-product/ePicture/settings.html">Settings & Configurations</a></li>
								<li><a href="help-product/ePicture/faqs.html">FAQs</a></li>
								<li><a href="help-product/ePicture/references.html">References</a></li>
							</ul>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
	<div id="help-content">
		<div class="d-flex flex-md-row flex-column flex-wrap a-mainblogs">
			<div class="a-section">
				<h4>5 Step Program to Treat Windows 8 Start-Button Depression Syndrome</h4>
				<div class="a-caption">
					Categories: <a class="a-link" href="blog-category.html">Programming</a>
					<br />
					13:22 | 04/11/2018
				</div>
				<p>For a few months now, I have been running Windows 8 Consumer/Release Preview on both a regular
					desktop for development (love the new Hyper-V capability built in to Windows 8) and on an ASUS
					EP121 tablet in a mobile mode. Admittedly, I'm an early adopter mostly because it’s our job here
					to learn about new technology from Microsoft’s stack, but more so because I’m very curious about
					the Metro vs. Desktop split personality of this version.</p>
				<p>I’m still working about 80% of the time in the old desktop mode, and every few minutes, my mouse
					would automatically move to the lower left corner of the screen, looking for the old Start icon.
					You know, the “let me bring up the command prompt window” moments, which always leads to, “what
					the #@$! are they thinking?” Along with many other people, I felt my productivity has decreased
					because some Product Manager decided to be cute and forcing a “tablet mode” on my desktop.</p>
				<p>I’ve met and talked to a few PMs at Microsoft on a fairly regular basis, and for the most part,
					these guys and gals are pretty smart (smarter than me for sure), so they must have thought about
					this problem, right? As survival instincts kick in, I started down the road to find a cure for
					my Start-Button-Addiction, and I’m happy to share my 5-step program with you here in this blog.
				</p>
				<h5>Step 1: Admit that you have a problem.</h5>
				<p>Yes. Step one is to admit we have a problem (at least from the MS point of view). The real issue
					is that the “Start button” on Windows 8 is not the same Start button on Windows 7. It’s a bad
					practice from MSFT who is fond of recycling old names to signify something different every other
					release (Surface, anyone). So, if you are looking for something in Windows 8, you can browse
					through a flat one dimensional sheet of shortcut icons, or you can (and should) do a search.</p>
				<h5>Step 2. Create short cuts to your most frequently used program.</h5>
				<p>This is the old true and try method of adding the most frequently used program to your task bar
					on the desktop. I also learn how to group the most frequently used metro apps at the begin of
					the "Start" (which should be name Home) screen. How do you know which ones you use the most?
					There is this little nifty new feature in the task manager that shows you how often you use
					certain (metro) apps:</p>
				<ul class="a-list">
					<li>Infrastructure. Contains factory methods to create dynamic call sitebinders for CSharp.</li>
					<li>Represents informationabout C# dynamic operations that are specific to particular arguments
						at a call site. Instances of this class are generated by the C# compiler.</li>
					<li>Represents an error that occurs when a dynamic bind in the C# runtime binder is processed.
					</li>
				</ul>
			</div>

			<div class="a-section">
				<h5>Write your comment</h5>
				<div class="input-field">
					<textarea id="textarea1" class="materialize-textarea"></textarea>
					<label for="textarea1">What can we help you?</label>
				</div>
				<div class="input-field">
					<a class="waves-effect waves-light btn">Submit</a>
				</div>
			</div>

			<div class="a-section a-feedback">
				<h5>Feedback</h5>
				<div class="row">
					<div class="col-md-2 col-sm-12">
						<div class="a-avatar"
							style="background-image:url('http://www.mediafire.com/convkey/9f88/656hf17917kubkszg.jpg'); background-position:-5px -5px;">
						</div>
						<div class="a-username"><a href="user-profile.html" class="a-link">Prince Charming</a></div>
					</div>
					<div class="col-md-10 col-sm-12">
						<div class="a-caption">13:22 | 04/11/2018</div>
						<p>For a few months now, I have been running Windows 8 Consumer/Release Preview on both a
							regular desktop for development (love the new Hyper-V capability built in to Windows 8)
							and on an ASUS EP121 tablet in a mobile mode. Admittedly, I'm an early adopter mostly
							because it’s our job here to learn about new technology from Microsoft’s stack, but more
							so because I’m very curious about the Metro vs. Desktop split personality of this
							version.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2 col-sm-12">
						<div class="a-avatar"
							style="background-image:url('http://www.mediafire.com/convkey/9f88/656hf17917kubkszg.jpg'); background-position:-5px -101px;">
						</div>
						<div class="a-username"><a href="user-profile.html" class="a-link">Princess Aurora</a></div>
					</div>
					<div class="col-md-10 col-sm-12">
						<div class="a-caption">13:22 | 04/11/2018</div>
						<p>For a few months now, I have been running Windows 8 Consumer/Release Preview on both a
							regular desktop for development (love the new Hyper-V capability built in to Windows 8)
							and on an ASUS EP121 tablet in a mobile mode. Admittedly, I'm an early adopter mostly
							because it’s our job here to learn about new technology from Microsoft’s stack, but more
							so because I’m very curious about the Metro vs. Desktop split personality of this
							version.</p>
					</div>
				</div>

			</div>
			<div id="eTaskIntroduction" class="app-product-content">
			</div>
		</div>
	</div>


</div>
{% endblock %}