{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<div class="page-section">
			<h3>Help</h3>
			<p>Type “help” to view a list of available commands for your eBot.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-AI-ebot-help.png">
			<ul class="a-list a-list-alpha">
				<li>Type: “@eTask” and choose eTask, then type “help”.</li>
				<li>Click “send” to command the bot.</li>
			</ul>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-AI-ebot-help-1.png">
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}