{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<h3>How to Create</h3>
		<div class="page-section">
			<h4>Layout & Access Data</h4>
			<ul class="a-list a-list-decimal">
				<li>
					<p>New Dashboard setting</p>
					<p>Title: Enter the display name of your dashboard for the list here</p>
					<p>Layout: These are the options:</p>
					<img class="a-screenshot-landscape-small" src="img/HelpPage/etask-personal-pmdashboard-layout.png">
					<p class="color-red">Note: This choice will affect your options for section later.</p>
					<p>Chart Configuration</p>
					<p>Chart configuration will set the layout of the chart widget. User can toggle to show
						or hide chart elements (legend, series label, tooltips) and pick where they should
						be.</p>
					<p>Once everything is decided. Click Filter.</p>
					<div class="color-red">Note:
						<p>You can filter which information user want to take into
							account. </p>
						<p>If user want information using the default filter setting, skip this Filter
							section and click Save.</p>
					</div>
				</li>
				<li>
					<p>Filter for PM Dashboard</p>
					<img class="a-screenshot-portrait" src="img/HelpPage/etask-personal-pmdashboard-layout-2.png">
					<p>Choose Projects: </p>
					<p>List out all active projects, select the check-boxes inside dropdown to pick which
						project user want to take into account.</p>
					<p>Standardize Color Mapping By: </p>
					<p>Choose a primary project to get color mapping of that project.</p>
					<div class="color-red">Note:
						<p>If user unselect the primary project, Standardize Color Mapping By will
							automatically pick the first project in the remain selected list in Choose
							Projects.</p>
						<p>User cannot click Save for these cases:</p>
						<ul class="a-list">
							<li>If user is currently not in any management team, Choose Projects will be
								blank.</li>
							<li>If no project is selected in Choose Projects, Standardize Color Mapping By
								will be blank.</li>
						</ul>
					</div>
					<p>Date:</p>
					<ul class="a-list">
						<li>Filter By: User can pick Start Date or Due Date</li>
						<li>Time Frame: The amount of time that will be take into account</li>
					</ul>
					<div class="color-red">Note:
						<p>By default,</p>
						<p>Filter By value = Start Date</p>
						<p>Time Frame value = “Recent Months”</p>
						<p>Recent Month includes “Last Month / Current Month / Next Month”</p>
					</div>
					<p>Priority, Status, Assigned To:</p>
					<p>
						This works similar to eTask grid view, Click Save to create the Dashboard.
					</p>
					<img class="a-screenshot-portrait" src="img/HelpPage/etask-personal-pmdashboard-layout-1.png">
				</li>
			</ul>
		</div>
		<div class="page-section">
			<h4>Section</h4>
			<ul class="a-list a-list-decimal">
				<li>
					<p>Section intro</p>
					<p>When user click on <img class="a-icon-90"
							src="img/HelpPage/etask-personal-pmdashboard-section.png"> , they can select how
						many sections they want to divide into. After selecting the sections, user can
						choose what widget they want to add.</p>
					<img class="a-screenshot-landscape-large"
						src="img/HelpPage/etask-personal-pmdashboard-section-1.png">
					<img class="a-screenshot-landscape-large"
						src="img/HelpPage/etask-personal-pmdashboard-section-2.png">
					<p>There are 4 columns in total and depend on how user choose your layout, the options
						will be different</p>
				</li>
				<li>
					<p>How to choose</p>
					<table class="a-table">
						<tr>
							<th>Dashboard Layout</th>
							<th></th>
							<th>Section options</th>
						</tr>
						<tr>
							<td>
								<img src="img/HelpPage/etask-personal-pmdashboard-section-3.png">
							</td>
							<td>
								➔
							</td>
							<td>
								<img src="img/HelpPage/etask-personal-pmdashboard-section-4.png">
							</td>
						</tr>
						<tr>
							<td>
								<img src="img/HelpPage/etask-personal-pmdashboard-section-14.png">
							</td>
							<td>
								➔
							</td>
							<td>
								<img src="img/HelpPage/etask-personal-pmdashboard-section-6.png">
							</td>
						</tr>
						<tr>
							<td>
								<div>
									<img src="img/HelpPage/etask-personal-pmdashboard-section-15.png">
								</div>
								<div>
									<img src="img/HelpPage/etask-personal-pmdashboard-section-16.png">
								</div>
							</td>
							<td>
								➔
							</td>
							<td>
								<div>The larger column:</div>
								<div>
									<img src="img/HelpPage/etask-personal-pmdashboard-section-9.png">
								</div>
							</td>
						</tr>
					</table>
					<p class="color-red">Note: When user click on a 1-column-length-layer, it will
						automatically add the One Column section.</p>
					<img class="a-screenshot-landscape-large"
						src="img/HelpPage/etask-personal-pmdashboard-section-10.png">
				</li>
				<li>
					<p>How to edit</p>
					<img class="a-screenshot-landscape-large"
						src="img/HelpPage/etask-personal-pmdashboard-section-11.png">
					<p>Change: User can change the section layout</p>
					<p>Delete: User can remove the section </p>
					<div class="color-red">Note:
						<p>If user Change the section, pick a new section layout and click Save, a popup
							will show up warning the user:</p>
						<p>“Changing the sections will delete your current widgets.
							Do user want to save your changes?”
						</p>
						<img class="a-screenshot-landscape-small"
							src="img/HelpPage/etask-personal-pmdashboard-section-12.png">
						<ul class="a-list a-list-decimal">
							<li>Cancel: Turn off the pop-up window. </li>
							<li>Don’t Save: Do not save changes and keep the widgets</li>
							<li>Save: Save and delete the widgets</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="page-section">
			<h4>Widget</h4>
			<img class="a-screenshot-portrait" src="img/HelpPage/etask-personal-pmdashboard-widget-1.png">
			<ul class="a-list a-list-decimal">
				<li>
					<p>Widget intro</p>
					<h5>Search</h5>
					<img class="a-screenshot-landscape-small" src="img/HelpPage/etask-personal-pmdashboard-widget.png">
					<p>User can enter the name of the widget and the result will be shown bellow.</p>
					<h5>Sort by type:</h5>
					<p>By default, all roles are selected, all widgets will be shown.</p>
					<p>When user pick a type and choose the roles/functional, the appropriate widgets will
						appear base on the choices.</p>
					<h5>Roles</h5>
					<p>Roles is separated base on the user role. It depends on if user is focusing on a
						low/medium/high level of management</p>
					<table class="a-table-02">
						<tr>
							<th></th>
							<th>Strategic</th>
							<th>Tactical</th>
							<th>Operational</th>
						</tr>
						<tr>
							<td>Sticky Reports</td>
							<td>x</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Project List</td>
							<td></td>
							<td></td>
							<td>x</td>
						</tr>
						<tr>
							<td>Team Size</td>
							<td>x</td>
							<td>x</td>
							<td></td>
						</tr>
						<tr>
							<td>Overdue by Priority</td>
							<td></td>
							<td></td>
							<td>x</td>
						</tr>
						<tr>
							<td>On-Time Task</td>
							<td></td>
							<td>x</td>
							<td></td>
						</tr>
						<tr>
							<td>Status</td>
							<td></td>
							<td>x</td>
							<td>x</td>
						</tr>
						<tr>
							<td>Priority</td>
							<td></td>
							<td>x</td>
							<td>x</td>
						</tr>
						<tr>
							<td>Project Workload by Status</td>
							<td></td>
							<td></td>
							<td>x</td>
						</tr>
						<tr>
							<td>Monthly Workload</td>
							<td>x</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Team Member via Stack</td>
							<td></td>
							<td></td>
							<td>x</td>
						</tr>
						<tr>
							<td>Team Member via Portrait</td>
							<td></td>
							<td></td>
							<td>x</td>
						</tr>
						<tr>
							<td>Due Soon by Priority</td>
							<td></td>
							<td></td>
							<td>x</td>
						</tr>
						<tr>
							<td>High Priority by Status</td>
							<td></td>
							<td></td>
							<td>x</td>
						</tr>
						<tr>
							<td>Time Deviation</td>
							<td></td>
							<td>x</td>
							<td></td>
						</tr>
						<tr>
							<td>Created vs. Completed</td>
							<td></td>
							<td>x</td>
							<td></td>
						</tr>
						<tr>
							<td>Favorites Tracking</td>
							<td></td>
							<td></td>
							<td>x</td>
						</tr>
					</table>
					<h5>Functional</h5>
					<p>Functional is based on what the widget original objective.</p>
					<table class="a-table-02">
						<tr>
							<th></th>
							<th>Activity Tracking</th>
							<th>Milestone Tracking</th>
							<th>Task Status</th>
							<th>Team Workload</th>
							<th>Resource Allocation</th>
						</tr>
						<tr>
							<td>Sticky Reports</td>
							<td>x</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Project List</td>
							<td>x</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Team Size</td>
							<td></td>
							<td></td>
							<td></td>
							<td>x</td>
							<td></td>
						</tr>
						<tr>
							<td>On-time task</td>
							<td></td>
							<td></td>
							<td>x</td>
							<td>x</td>
							<td></td>
						</tr>
						<tr>
							<td>Overdue by Priority</td>
							<td>x</td>
							<td></td>
							<td>x</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Status</td>
							<td></td>
							<td></td>
							<td>x</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Priority</td>
							<td></td>
							<td></td>
							<td>x</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Project Workload by Status</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>x</td>
						</tr>
						<tr>
							<td>Monthly Workload</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>x</td>
						</tr>
						<tr>
							<td>Team Member via Stack</td>
							<td></td>
							<td></td>
							<td></td>
							<td>x</td>
							<td></td>
						</tr>
						<tr>
							<td>Team Member via Portrait</td>
							<td></td>
							<td></td>
							<td></td>
							<td>x</td>
							<td></td>
						</tr>
						<tr>
							<td>Due Soon by Priority</td>
							<td></td>
							<td></td>
							<td>x</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>High Priority by Status</td>
							<td></td>
							<td></td>
							<td>x</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Time Deviation</td>
							<td></td>
							<td>x</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Created vs. Completed</td>
							<td>x</td>
							<td></td>
							<td></td>
							<td>x</td>
							<td></td>
						</tr>
						<tr>
							<td>Favorites Tracking</td>
							<td>x</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					<br />
					<p class="color-red">Note: If a Widget has more than 1 role/function, it will appear if
						user picks 1 of them. </p>
				</li>
				<li>
					<p>Widgets:</p>
					<ul class="a-list">
						<li>
							<p>Sticky report</p>
							<img class="a-screenshot-landscape-small"
								src="img/HelpPage/etask-personal-pmdashboard-widget-2.png">
							<ul class="a-list">
								<li>Projects: Show the total number of projects of that PM is working on.
								</li>
								<li>Total tasks: Show the total number of tasks of these projects have in
									Time Frame.</li>
								<li>Members: Show the total number of members of the projects except those
									who don’t have any task during the Time Frame. If a member is in
									multiple projects, it is still counted as 1.</li>
								<li>Overdue: Show the total number of tasks that have status = “Overdue” of
									these projects. This will include task that has due date with:
									<ul class="a-list">
										<li><span style="text-decoration: line-through">Status = “Completed”: Actual
												completed date > Due Date </span>(later).</li>
										<li>Other statuses: Current Date > Due Date</li>
									</ul>
								</li>
								<li>In-Progress: Show the total number of tasks that have status = “In-Progress” of
									these projects.</li>
								<li>Not Started: Show the total number of tasks that have status = “Not Started” of
									these projects.</li>
								<li>Type: None.</li>
							</ul>
						</li>
						<li>
							<p>Project list</p>
							<img class="a-screenshot-landscape-small"
								src="img/HelpPage/etask-personal-pmdashboard-widget-3.png">
							<p>Shows the projects with status = “Active” in briefly details. There are columns display
								the statistic of project:</p>
							<ul class="a-list">
								<li>Project Name: Show the name of the project. This will be Project Display name or
									Project name (if there is no display name)</li>
								<li>Tasks: Show the total tasks that include all statuses except “Completed” of these
									projects.</li>
								<li>Bugs: Show the total bugs that include all statuses except “Closed” of these
									projects.</li>
								<li>Type: None.</li>
							</ul>
						</li>
						<li>
							<p>Team size</p>
							<img class="a-screenshot-landscape-small"
								src="img/HelpPage/etask-personal-pmdashboard-widget-4.png">
							<ul class="a-list">
								<li>Team Size chart shows the members of a project that have all tasks statuses in
									current Time Frame.</li>
								<li>Total member in Team Size chart will be different compare to Members in Sticky
									Report. Briefly information above. Because there might be 1 member working on 2-3
									projects.</li>
								<li>Type: Column, Bar.</li>
							</ul>
						</li>
						<li>
							<p>On-time tasks</p>
							<p>Show percentage of tasks that are completed on time, compare to all completed tasks.</p>
							<ul class="a-list">
								<li>Type: Column, Bar.</li>
							</ul>
						</li>
						<li>
							<p>Overdue by Priority</p>
							<img class="a-screenshot-landscape-small"
								src="img/HelpPage/etask-personal-pmdashboard-widget-5.png">
							<p>Show chart of overdue tasks sorted by priority in all projects in current Time Frame.
								Priority will be sorted from top to bottom: High, Normal, Low.</p>
							<ul class="a-list">
								<li>Type: Stack.</li>
							</ul>
						</li>
						<li>
							<p>Status</p>
							<img class="a-screenshot-landscape-small"
								src="img/HelpPage/etask-personal-pmdashboard-widget-6.png">
							<p>Show chart of tasks with all statuses sorted by Status in all project in current Time
								Frame. </p>
							<ul class="a-list">
								<li>Type: Donut, Pie, Column, Bar.</li>
							</ul>
						</li>
						<li>
							<p>Priority</p>
							<img class="a-screenshot-landscape-small"
								src="img/HelpPage/etask-personal-pmdashboard-widget-7.png">
							<p>Show chart of tasks by Priority in all Projects in current Time Frame.</p>
							<ul class="a-list">
								<li>Type: Donut, Pie, Column, Bar.</li>
							</ul>
						</li>
						<li>
							<p>Project Workload by Status</p>
							<img class="a-screenshot-landscape-large"
								src="img/HelpPage/etask-personal-pmdashboard-widget-8.png">
							<ul class="a-list">
								<li>Shows chart of all tasks that included all statuses but sorted by Projects. Provide
									a quick glance for user.</li>
								<li>Vertical axis: Projects.</li>
								<li>Horizontal axis: Number of tasks.</li>
								<li>Within the chart: sorted number of tasks followed by current Status.</li>
								<li>Overdue: overdue tasks from the incomplete tasks.</li>
								<li>Type: Stack.</li>
							</ul>
						</li>
						<li>
							<p>Monthly workload </p>
							<img class="a-screenshot-landscape-large"
								src="img/HelpPage/etask-personal-pmdashboard-widget-9.png">
							<ul class="a-list">
								<li>Shows the chart of tasks by Projects in Monthly. Each bar represents a project.</li>
								<li>
									<p>Status filter:</p>
									<ul class="a-list">
										<li>All </li>
										<li>Not Started</li>
										<li>In-Progress</li>
										<li>Hold</li>
										<li>Completed</li>
										<li>Overdue </li>
									</ul>
								</li>
								<li>If Global filter enable or disable a status > In workload filter will have the same
									available statues as Global Filter. </li>
								<li>If Global Filter disable a status being chosen in workload filter, by default,
									workload filter will choose option “All”.</li>
								<li>Type: Column, Bar, Line.</li>
							</ul>
						</li>
						<li>
							<p>Team Member via stack </p>
							<img class="a-screenshot-landscape-large"
								src="img/HelpPage/etask-personal-pmdashboard-widget-10.png">
							<ul class="a-list">
								<li>Breakdown all tasks for each member base on status (with overdue)</li>
								<li>User can click on element of the chart to show detail information grouped by
									projects</li>
								<li>Type: Stack.</li>
							</ul>
						</li>
						<li>
							<p>Team Member via Portrait </p>
							<img class="a-screenshot-landscape-large"
								src="img/HelpPage/etask-personal-pmdashboard-widget-11.png">
							<ul class="a-list">
								<li>Breakdown all tasks for each member filtered by status </li>
								<li>User can click on element of the chart to show detail information grouped by
									projects</li>
								<li>Type: Portrait.</li>
							</ul>
						</li>
						<li>
							<p>Due Soon by Priority </p>
							<img class="a-screenshot-landscape-small"
								src="img/HelpPage/etask-personal-pmdashboard-widget-12.png">
							<p>Due soon task sort by priority for each project. Priority will be sorted from top to
								bottom: High, Normal, Low.</p>
							<ul class="a-list">
								<li>Type: Stack.</li>
							</ul>
						</li>
						<li>
							<p>High priority by status </p>
							<img class="a-screenshot-landscape-small"
								src="img/HelpPage/etask-personal-pmdashboard-widget-13.png">
							<p>High priority task sort by Status for each project. Status will be sorted from top to
								bottom: Completed, In Progress, On Hold, Not Started.</p>
							<ul class="a-list">
								<li>Type: Stack.</li>
							</ul>
						</li>
						<li>
							<p>Created vs. Completed </p>
							<img class="a-screenshot-landscape-small"
								src="img/HelpPage/etask-personal-pmdashboard-widget-15.png">
							<p>Show the amount of created task along with the amount of completed task by month.</p>
							<p>X-axis is Projects, Y-axis is number of task.</p>
							<ul class="a-list">
								<li>Type: Column, Bar, Line.</li>
							</ul>
						</li>
						<li>
							<p>Rich text</p>
							<img class="a-screenshot-landscape-small"
								src="img/HelpPage/etask-personal-pmdashboard-widget-16.png">
							<ul class="a-list">
								<li>Support basic word editor, indexing, and images.</li>
							</ul>
						</li>
						<li>
							<p>iFrame</p>
							<ul class="a-list">
								<li>Insert an URL, iFrame will load the web content within widget.</li>
							</ul>
							<img class="a-screenshot-landscape-small"
								src="img/HelpPage/etask-personal-pmdashboard-widget-17.png">
						</li>
					</ul>
				</li>
				<li>
					<p>Customize function</p>
					<p>User can click … of a widget to Customize it.</p>
					<img class="a-screenshot-landscape-large"
						src="img/HelpPage/etask-personal-pmdashboard-widget-18.png">
					<h5>Custom:</h5>
					<img class="a-screenshot-landscape-small"
						src="img/HelpPage/etask-personal-pmdashboard-widget-19.png">
					<ul class="a-list">
						<li>Title: Name of the widget</li>
						<li>Types: Column, bar, pie, stack, line,…</li>
						<li>Operator: Count</li>
						<li>
							<p>Allow scrolling:</p>
							<ul class="a-list">
								<li>Yes: All the widget will have the same height and have a scrollbar</li>
								<li>No: The widget will expand to its optimized size</li>
							</ul>
						</li>
					</ul>
					<h5>Change: </h5>
					<p>Let user choose another widget</p>
					<h5>Delete:</h5>
					<p>Remove the widget from the section</p>
				</li>
				<li>
					<p>Drag & Drop Widget</p>
					<p>User can move a widget from 1 column to another or between sections.</p>
				</li>
			</ul>
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}