{% extends "layout.html" %}

{% block headerMode %}
<div class="default">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>Appvity Home</title>
{% endblock %}

{% block indexContent %}
<div id="app-slider" class="slider align-vertical-center-container">
	<ul class="slides">
		<li>
			<img src="./img/Appvity-eTask-getitdone.jpg">
			<div class="caption left-align d-flex align-items-stretch align-vertical-center">
				<h5>#eTask</h5>
				<h3>Just get it done!</h3>
				<h5 class="light grey-text text-lighten-3 five-lines">Surface your tasks from different data sources
					into a single accessible view. Focus on important tasks across the enterprise.
					Manage better, work smarter, and get things done on time.</h5>
				<div class="input-field">
					<a class="waves-effect waves-light btn" href="eTask.html">Learn more</a>
				</div>
			</div>
		</li>
	</ul>
</div>

<div class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns a-ourproducts">
	<div>
		<h4>Our Products</h4>
		<div class="section-description">
			<p>Appvity believes enterprise project management does not have to be complicated. We created small and
				simple apps that
				take care of your tasks, issues, and alerts within the Office 365 and Teams environment. Our apps
				allow teams to effectively
				work together without even being in the same office. Extend your cloud platform to be more
				productive and cost effective!</p>
		</div>
	</div>
	<div class="d-flex flex-md-row flex-column flex-wrap flex-3items">
		<div class="card" style="background-image:url(./img/eTask-medium.jpg);">
			<div class="card-body">
				<a href="eTask.html">
					<div>
						<img src="./img/svg/eTask-bright.svg" />
					</div>
					<div>
						<h5 class="card-title">eTask</h5>
						<p class="card-text five-lines">eTask allows your team to stay in control of your project
							with very simple yet effective ways to create, assign, and
							keep track of your progress. Start managing your team tasks today!</p>
					</div>
				</a>
			</div>
		</div>
		<div class="card" style="background-image:url(img/eBug-Medium.jpg);">
			<div class="card-body">
				<a href="eBug.html">
					<div>
						<img src="./img/svg/eBug-bright.svg" />
					</div>
					<div>
						<h5 class="card-title">eBug</h5>
						<p class="card-text four-lines">eBug tracks issues that can be linked to your tasks and
							projects that can be aggregated into a collective view, allowing
							your team to easily track and solve issues to their satisfaction.</p>
					</div>
				</a>
			</div>
		</div>
		<div class="card a-cms" style="background-image:url(img/eProject-medium.jpg);">
			<div class="card-body">
				<a href="eProject.html">
					<div>
						<img src="./img/svg/eProject-bright.svg" />
					</div>
					<div>
						<h5 class="card-title">eProject</h5>
						<p class="card-text four-lines">Dashboard consolidates all projects across the enterprise
							providing PMs a real-time view of resources and priorities.</p>
					</div>
				</a>
			</div>
			<div class="note">Coming soon</div>
		</div>
	</div>
</div>
<div class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns a-ourservices">
	<div>
		<h4>OUR SERVICES</h4>
		<div class="section-description">
			<p>The boundless diversity of ideas, knowledge, and experience are prerequisite for development and
				innovation at Appvity.
				Our heterogeneous teams collaborate just like our clients do. We use collaboration technologies such
				as Office online
				and SharePoint that our clients use. We face the same pain points that you do. It is our practical
				knowledge, attitude,
				and innovation that inspires Appvity to provide services to help your business be more successful.
			</p>
		</div>
	</div>
	<div>
		<div class="d-flex flex-md-row flex-column flex-wrap flex-2items">
			<div class="card" style="background-image:url(./img/Services-portal.jpg); height:500px;">
				<div class="card-body">
					<a href="services.html">
						<h5 class="card-title">Collaboration Portal</h5>
					</a>
				</div>
			</div>
			<div class="card"
				style="background-image:url(./img/appvity-business-process-automation-01.jpg); height:500px;">
				<div class="card-body">
					<a href="services.html">
						<h5 class="card-title">Business Automation</h5>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div
	class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns a-projecthighlight">
	<div class="">
		<h4>CLIENT IMPACT</h4>
		<div class="section-description">
			<p>Appvity has been solving complex problems in a variety of markets, including aviation, finance,
				insurance, petroleum,
				and others. Most of our customers have a long relationship where we demonstrated our ability to
				identify and address
				our clients' concerns by meeting their scheduling and budgetary needs. We are truly an extension of
				your virtual IT
				team. We are your partner.</p>
		</div>
	</div>
	<div class="text-center">
		<div class="no-hover owl-carousel owl-theme">
			<div class="card item">
				<div class="card-body">
					<div>
						<img class="change-filtercolor" src="./img/svg/Appvity-Client-Prudential.svg" />
					</div>
				</div>
			</div>
			<div class="card item">
				<div class="card-body">
					<div>
						<img class="change-filtercolor" src="./img/svg/Appvity-Client-PremierOil.svg" />
					</div>
				</div>
			</div>
			<div class="card item">
				<div class="card-body">
					<div>
						<img class="change-filtercolor" src="./img/svg/Appvity-Client-Vinamilk.svg" />
					</div>
				</div>
			</div>
			<div class="card item">
				<div class="card-body">
					<div>
						<img class="change-filtercolor" src="./img/svg/Appvity-Client-Viags.svg" />
					</div>
				</div>
			</div>
			<div class="card item">
				<div class="card-body">
					<div>
						<img class="change-filtercolor" src="./img/svg/Appvity-Client-Vietjet.svg" />
					</div>
				</div>
			</div>
			<div class="card item">
				<div class="card-body">
					<div>
						<img class="change-filtercolor" src="./img/svg/Appvity-Client-ACB.svg" />
					</div>
				</div>
			</div>
			<div class="card item">
				<div class="card-body">
					<div>
						<img class="change-filtercolor" src="./img/svg/Appvity-Client-Worldbank.svg" />
					</div>
				</div>
			</div>
			<div class="card item">
				<div class="card-body">
					<div>
						<img class="change-filtercolor" src="./img/svg/Appvity-Client-Vingroup.svg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}