{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<h3>Introduction</h3>
		<div class="page-section">
			<h4>Default View</h4>
			<p>eTask dashboard can be found within eTask application. Here is the default screen:</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-pmdashboard-view.png">
			<p>By default, eTask Dashboard will show information from active projects in recent months</p>
			<ul class="a-list a-list-alpha">
				<li>Sticky report
					<ul class="a-list">
						<li>Projects: Show the total number of projects of that PM is working on.</li>
						<li>Total tasks: Show the total number of tasks of these projects have in Time Frame.</li>
						<li>Members: Show the total number of members of the projects except those who don’t have any
							task during the Time Frame. If a member is in multiple projects, it is still counted as 1.
						</li>
						<li>Overdue: Show the total number of tasks that have status = “Overdue” of these projects. This
							will include task that has due date with:
							<ul class="a-list">
								<li>Status = “Completed”: Actual completed date > Due Date</li>
								<li>Other statuses: Current Date > Due Date</li>
							</ul>
						</li>
						<li>In-Progress: Show the total number of tasks that have status = “In-Progress” of these
							projects.</li>
						<li>Not Started: Show the total number of tasks that have status = “Not Started” of these
							projects.</li>
					</ul>
				</li>
				<li>Project list
					<p>Shows the projects with status = “Active” in briefly details. There are columns display the
						statistic of project:</p>
					<ul class="a-list">
						<li>Project Name: Show the name of the project. This will be Project Display name or Project
							name (if there is no display name)</li>
						<li>Tasks: Show the total tasks that include all statuses except “Completed” of these projects.
						</li>
						<li>Bugs: Show the total bugs that include all statuses except “Closed” of these projects.</li>
					</ul>
				</li>
				<li>Team size
					<ul class="a-list">
						<li>Team Size chart shows the members of a project that have all tasks statuses in current Time
							Frame.</li>
						<li>Total member in Team Size chart will be different compare to Members in Sticky Report.
							Briefly information above. Because there might be 1 member working on 2-3 projects.</li>
					</ul>
				</li>
				<li>Overdue by Priority
					<ul class="a-list">
						<li>Show chart of overdue tasks sorted by priority in all projects in current Time Frame.
							Priority will be sorted from top to bottom: High, Normal, Low.</li>
					</ul>
				</li>
				<li>Status
					<ul class="a-list">
						<li>Show chart of tasks with all statuses sorted by Status in all project in current Time Frame.
						</li>
					</ul>
				</li>
				<li>Priority
					<ul class="a-list">
						<li>Show chart of tasks by Priority in all Projects in current Time Frame.</li>
					</ul>
				</li>
				<li>Project workload by Status
					<ul class="a-list">
						<li>Shows chart of all tasks that included all statuses but sorted by Projects. Provide a quick
							glance for user.</li>
						<li>Vertical axis: Projects.</li>
						<li>Horizontal axis: Number of tasks.</li>
						<li>Within the chart: sorted number of tasks followed by current Status.</li>
						<li>Overdue: overdue tasks from the incomplete tasks.</li>
					</ul>
				</li>
				<li>Monthly workload
					<ul class="a-list">
						<li>Shows the chart of tasks by Projects in Monthly. Each bar represents a project.</li>
						<li>Status filter:
							<ul class="a-list">
								<li>All</li>
								<li>Not Started</li>
								<li>In-Progress</li>
								<li>Hold</li>
								<li>Completed</li>
								<li>Overdue</li>
							</ul>
						</li>
						<li>If Global filter enable or disable a status > In workload filter will have the same
							available statues as Global Filter.</li>

						<li>If Global Filter disable a status being chosen in workload filter, by default, workload
							filter will choose option “All”</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="page-section">
			<h4>Dashboard list</h4>
			<p>Click on hamburger button to show List of Dashboard</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-pmdashboard-list.png">
			<p>User can click on <img class="" src="img/HelpPage/etask-icon-pmdashboard-create.png"> to create a new
				dashboard.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-pmdashboard-list-1.png">
			<p>When user clicks on the … symbol next to the dashboard, they can:</p>
			<p>Set as default: The selected dashboard will be shown every time user open eTask Dashboard. User can only
				select 1 default dashboard at the time. The default dashboard will have icon next to it.</p>
			<p>Clone: A copy of the selected dashboard will be created with all of its widgets, settings, and filter.
				The copy name is “Clone – [Name of original Dashboard]”.</p>
			<p>Delete: Remove the selected dashboard from the list.</p>
			<img class="a-screenshot-landscape-small" src="img/HelpPage/etask-personal-pmdashboard-list-2.png">
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}