{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<div class="page-section">
			<h3>1. Introduction</h3>
			<div class="a-caption">Updated by 2019/11/8</div>
			<p>eTask is a cloud-based application which is designed to provide the process of collaborating between members,
                teams, and companies. It can handle the following cases:</p>
			<ul class="a-list">
                <li>Synchronizing data from various data sources in Microsoft Planner (Office 365) in Microsoft Teams,
					Azure DevOps
					(Visual Studio Team Service), and Jira. And centralizing tasks into one view.</li>
				<li>Data mapping, and User mapping from various data sources above.</li>
				<li>Providing Power Automate and customizing flows. </li>
				<li>Sending Direct Message to a specific user for collaboration.</li>
				<li>Generating reports. </li>
				<li>Extensible via PowerShell, APIs.</li>
				<li>Supporting on any device such as a Smartphone, Tablet, and Personal Computers that has a web browser
					and internet connection.
				</li>
			</ul>
				<p><img class="a-screenshot-landscape-large" src="/img/User Guide New/introduction1.png" width="850px" height="500px" alt="Introduction Image"/>
				</p>
				<p><img class="a-screenshot-landscape-large" src="/img/User Guide New/introduction2.png" width="850px" height="500px" alt="Introduction Image"/>
				</p>
				<p><img class="a-screenshot-landscape-large" src="/img/User Guide New/introduction3.png" width="850px" height="500px" alt="Introduction Image"/>
				</p>
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}