{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<h3>My Project</h3>
		<div class="page-section">
			<p>Allow user to have a look at all projects that being managed by user.</p>
			<p>Here is default screen of “My Projects”:</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-task-project-home.png">
			<p>By default, grid is grouped by projects. Users can see all projects being managed by them.</p>
			<ul class="a-list">
				<li>All functions in “My Projects” are as same as in “My Tasks” excluded <a href="">“Sync to
						Outlook”</a>.</li>
				<li>Tasks in “My Projects” are from projects that user is the manager.</li>
			</ul>
			<p class="color-red">Note: Users won't see the tab My Projects when they are not in the management team of
				any project.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-task-project-home-1.png">
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}