{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<h3>My Task</h3>
		<div class="page-section">
			<h4>Overview</h4>
			<p>Allow user to have a look on all tasks that being assigned to them.</p>
			<p>Click on “<img class="a-icon" src="img/HelpPage/etask-icon-editleftmenu.png">” on the left
				menu, then choose “eTask” (if user has already installed eTask) or find an app named “eTask”
				to get into eTask board.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-task.png">
			<p>Alternatively, from the global search of Microsoft Teams, type in “eTask” and select eTask.
			</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-task-1.png">
			<p>Here is the default screen of “My Tasks” tab:</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-task-2.png">
		</div>
		<div class="page-section">
			<h4>Search</h4>
			<p>This function behaves similar to the Basic search function in Grid View.</p>
		</div>
		<div class="page-section">
			<h4>Filter</h4>
			<p>This function behaves similar to the Filter function in Grid View.</p>
		</div>
		<div class="page-section">
			<h4>Group by</h4>
			<p>This function behaves similar to the Group by function in Grid View.</p>
		</div>
		<div class="page-section">
			<h4>Sync to Outlook</h4>
			<h6>Toggle on to synchronize tasks into Outlook.</h6>
			<p>Click on “…” at the top-right of “My Tasks” grid view.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-task-syncoutlook.png">
			<p>Toggle on “Sync to Outlook”.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-task-syncoutlook-1.png">
			<p>Tasks from eTask will be synchronized into Outlook. From Outlook, click on list TODO.</p>
			<img class="a-screenshot-portrait" src="img/HelpPage/etask-personal-task-syncoutlook-2.png">
			<p>Click on “Appvity eTask” to view tasks.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-task-syncoutlook-3.png">
			<div class="color-red">
				<p>Note:</p>
				<ul class="a-list">
					<li>Synchronization between eTask and Microsoft TODO is one-way, synchronizing tasks from eTask to
						Microsoft TODO only. Any changes in Microsoft TODO will not affect the tasks in eTask.</li>
					<li>Any changes in eTask will be automatically affected on Microsoft TODO. If there are tasks that
						are missing on Microsoft TODO, eTask will save the missing tasks in “Logs”, under “Settings”
						like below.</li>
				</ul>
			</div>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-task-syncoutlook-4.png">
			<h6>Toggle off to desynchronize tasks from Outlook.</h6>
			<p>Toggle off “Sync to Outlook”.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-task-syncoutlook-5.png">
			<p>Tasks in TODO list will be removed.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-personal-task-syncoutlook-6.png">
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}