{% extends "news-layout.html" %}

{% block headTitle %}
<title>News Room</title>
{% endblock %}

{% block newsContent %}
<!-- Start Banner -->
<div id="app-slider" class="slider">
	<ul class="slides">
		<li>
			<img src="http://www.mediafire.com/convkey/6660/j8pj113cdyy70slzg.jpg" />
			<div class="caption left-align d-flex align-items-stretch align-vertical-center">
				<div>
					<h3>
						News Room
					</h3>
				</div>
			</div>
		</li>
	</ul>
</div>
<!-- End Banner -->
<!-- Start Body -->
<div class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-1column">
	<div class="container">
		<div class="a-mainblogs a-mainblogs-02">
			<h4>Latest news</h4>
			<div class="d-flex flex-md-row flex-column flex-wrap">

				<div class="card d-flex flex-md-row flex-column justify-content-between align-items-stretch"
					onclick="window.location='newsdetail.html'">
					<div class="card-body">
						<p class="card-title">How to Programmatically Create an InfoPath Form from an InfoPath XSN
							Templatet</p>
						<div class="a-caption">13:22 | 04/11/2018</div>
					</div>
					<div style="background-image:url(http://www.mediafire.com/convkey/d342/3e4hgfahw7utcybzg.jpg);">
						<div class="app-bgshadow"></div>
					</div>
				</div>

				<div class="card d-flex flex-md-row flex-column justify-content-between align-items-stretch"
					onclick="window.location='newsdetail.html'">
					<div class="card-body">
						<p class="card-title">How to Configure and Publish InfoPath to SharePoint 2013</p>
						<div class="a-caption">13:22 | 04/11/2018</div>
					</div>
					<div style="background-image:url(http://www.mediafire.com/convkey/95a3/yid60mzkbi7ch7azg.jpg);">
						<div class="app-bgshadow"></div>
					</div>
				</div>

				<div class="card d-flex flex-md-row flex-column justify-content-between align-items-stretch"
					onclick="window.location='newsdetail.html'">
					<div class="card-body">
						<p class="card-title">5 Step Program to Treat Windows 8 Start-Button Depression Syndrome</p>
						<div class="a-caption">13:22 | 04/11/2018</div>
					</div>
					<div style="background-image:url(http://www.mediafire.com/convkey/4211/3aox3tfa32wvic7zg.jpg);">
						<div class="app-bgshadow"></div>
					</div>
				</div>

				<div class="card d-flex flex-md-row flex-column justify-content-between align-items-stretch"
					onclick="window.location='newsdetail.html'">
					<div class="card-body">
						<p class="card-title">Dimensional Research: Android, Users are Biggest Corporate Security Risks
						</p>
						<div class="a-caption">13:22 | 04/11/2018</div>
					</div>
					<div style="background-image:url(http://www.mediafire.com/convkey/37f0/j36l4gp9p23ze22zg.jpg);">
						<div class="app-bgshadow"></div>
					</div>
				</div>

				<div class="card d-flex flex-md-row flex-column justify-content-between align-items-stretch"
					onclick="window.location='newsdetail.html'">
					<div class="card-body">
						<p class="card-title">Notes: Install SharePoint Server 2013 on Windows 2012 Server error</p>
						<div class="a-caption">13:22 | 04/11/2018</div>
					</div>
					<div style="background-image:url(http://www.mediafire.com/convkey/95a3/yid60mzkbi7ch7azg.jpg);">
						<div class="app-bgshadow"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}