{% extends "layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>Online Docs</title>
{% endblock %}

{% block indexContent %}
<!-- Start Banner -->
<div id="app-slider" class="slider align-vertical-center-container">
    <ul class="slides">
      <li>
        <img src="img/banner-onlinedocs.jpg">
        <div class="caption left-align d-flex align-items-stretch align-vertical-center">
          <div>
            <h3>Online Docs</h3>
            <h5 class="light grey-text text-lighten-3">No work is finished until the documentation is done! At Appvity, we value speed, clarity, and simplicity. We
              also pride ourselves on creating documents that help you learn how to use our software to its fullest potential. </h5>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- End Banner -->
  <!-- Start Body -->


  <div class="row a-onlinedocs">

    <div class="order-0 order-lg-0 app-userguide">
      <div class="app-userguide-content col-md-12 col-12 order-md-0 order-0 d-flex flex-column justify-content-start align-items-stretch">
        <div>
          <h4>USER GUIDE</h4>
        </div>
        <div>
          <a href="introduction.html">
            <div class="card" style="background-image: url(img/eTask-large.jpg); background-position: 0 50%;">
              <div class="card-body">
                <div class="logo-documents">
                  <img src="img/svg/eTask-bright.svg">
                  <h5 class="text-userguide text-white">eTask</h5>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="help-eBug.html">
            <div class="card a-cms" style="background-image: url(img/appvity-eBug.jpg); background-position: 0 50%;">
              <div class="card-body">
                <div class="logo-documents">
                  <img src="img/svg/eBug-bright.svg">
                  <h5 class="text-userguide text-white">eBug</h5>
                </div>
              </div>
              <!--<div class="note">Coming soon</div>-->
            </div>
          </a>
        </div>
        <div>
          <a href="help-eProject.html">
            <div class="card a-cms" style="background-image: url(img/appvity-eProject-01.jpg); background-position: 0 50%;">
              <div class="card-body">
                <div class="logo-documents">
                  <img src="img/svg/eProject-bright.svg">
                  <h5 class="text-userguide text-white">eProject</h5>
                </div>
              </div>
              <!--<div class="note">Coming soon</div>-->
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="order-1 order-lg-1 app-productsfaqs">
      <div class="d-flex flex-column justify-content-between align-items-stretch">
        <div>
          <div class="d-flex flex-column align-items-stretch flex-wrap">
            <div class="d-flex flex-md-row flex-column align-items-stretch flex-wrap a-productfaqs">
              <div class="d-flex flex-column align-items-stretch flex-wrap col-md-12 col-12 order-md-1 order-1 p-0 a-productfaqs">
                <div>
                  <h4>FAQs</h4>
                </div>
                <div class="accordion tab-content">
                  <ul class="nav nav-pills mb-3 " id="pills-tab" role="tablist">
                    <li class="nav-item li-navitem-appvity">
                      <a class="nav-link active" id="pills-appvity-tab" data-toggle="pill" href="#pills-appvity" role="tab" aria-controls="pills-appvity"
                        aria-selected="true">
                        <div class="app-productfaqs-tabnav app-icon-nav app-icon-nav-appvity"></div>
                        <div class="app-productfaqs-tabnav app-text-nav">Appvity</div>

                      </a>
                    </li>
                    <li class="nav-item li-navitem-etask">
                      <a class="nav-link" id="pills-etask-tab" data-toggle="pill" href="#pills-etask" role="tab" aria-controls="pills-etask" aria-selected="false">
                        <div class="app-productfaqs-tabnav app-icon-nav app-icon-nav-etask"></div>
                        <div class="app-productfaqs-tabnav app-text-nav">eTask</div>

                      </a>
                    </li>
                    <li class="nav-item li-navitem-ebug">
                      <a class="nav-link" id="pills-ebug-tab" data-toggle="pill" href="#pills-ebug" role="tab" aria-controls="pills-ebug" aria-selected="false">
                        <div class="app-productfaqs-tabnav app-icon-nav app-icon-nav-ebug"></div>
                        <div class="app-productfaqs-tabnav app-text-nav">eBug</div>

                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="" class="accordion tab-content col-md-12 col-12 order-md-1 order-1 p-0">
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-appvity" role="tabpanel" aria-labelledby="pills-appvity-tab">
                    <div class="d-flex flex-column flex-wrap accordion" id="accordionAppvityFaqs">
                      <div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingAppvityFaqs01">
                            <a data-toggle="collapse" href="#collapseAppvityFaqs01" aria-expanded="true" aria-controls="collapseAppvityFaqs01" class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Who is Appvity?</h6>
                            </a>
                          </div>
                          <div id="collapseAppvityFaqs01" class="collapse show" aria-labelledby="headingAppvityFaqs01" data-parent="#accordionAppvityFaqs">
                            <div class="card-body">
                              Appvity is an international company with offices in the US and Southeast Asia. We provide productivity products and services
                              around Azure and Office 365 cloud platform.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingAppvityFaqs02">
                            <a data-toggle="collapse" href="#collapseAppvityFaqs02" aria-expanded="false" aria-controls="collapseAppvityFaqs02" class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Why should I choose Appvity's product or service?</h6>
                            </a>
                          </div>
                          <div id="collapseAppvityFaqs02" class="collapse" aria-labelledby="headingAppvityFaqs02" data-parent="#accordionAppvityFaqs">
                            <div class="card-body">
                              <p>Appvity has been solving complex problems in a variety of markets, including aviation, finance,
                                insurance, petroleum, and others. Most of our customers have a long relationship where we
                                demonstrated our ability to identify and address our clients' concerns by meeting their scheduling
                                and budgetary needs. We are truly an extension of your virtual IT team. We are your partner.</p>
                              <p>Our products are built based on years of providing practical, real world solutions and experience
                                with collaboration platform such as SharePoint. We know your problems. We use our own products.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingAppvityFaqs03">
                            <a data-toggle="collapse" href="#collapseAppvityFaqs03" aria-expanded="false" aria-controls="collapseAppvityFaqs03" class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Which services does Appvity provide?</h6>
                            </a>
                          </div>
                          <div id="collapseAppvityFaqs03" class="collapse" aria-labelledby="headingAppvityFaqs03" data-parent="#accordionAppvityFaqs">
                            <div class="card-body">
                              Appvity specializes in full cycle consulting from business analysis, requirements, development, and support. Our development
                              service focuses on Office 365, Azure, and SharePoint platform. We developed automation workflow
                              that ties together your data, documentation, and business process, on the cloud, or on-premise.
                              We also provide training, knowledge transfer, and documentation -- as an extension to your
                              in-house IT department.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingAppvityFaqs04">
                            <a data-toggle="collapse" href="#collapseAppvityFaqs04" aria-expanded="false" aria-controls="collapseAppvityFaqs04" class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>When will Appvity products available?</h6>
                            </a>
                          </div>
                          <div id="collapseAppvityFaqs04" class="collapse" aria-labelledby="headingAppvityFaqs04" data-parent="#accordionAppvityFaqs">
                            <div class="card-body">
                              Our products are planned to be generally available in late 2019.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingAppvityFaqs05">
                            <a data-toggle="collapse" href="#collapseAppvityFaqs05" aria-expanded="false" aria-controls="collapseAppvityFaqs05" class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Do your products require internet?</h6>
                            </a>
                          </div>
                          <div id="collapseAppvityFaqs05" class="collapse" aria-labelledby="headingAppvityFaqs05" data-parent="#accordionAppvityFaqs">
                            <div class="card-body">
                              Our product is based on Office 365 and Teams platform, so it does require Internet access.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingAppvityFaqs06">
                            <a data-toggle="collapse" href="#collapseAppvityFaqs06" aria-expanded="false" aria-controls="collapseAppvityFaqs06" class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>How does Appvity provide services?</h6>
                            </a>
                          </div>
                          <div id="collapseAppvityFaqs06" class="collapse" aria-labelledby="headingAppvityFaqs06" data-parent="#accordionAppvityFaqs">
                            <div class="card-body">
                              Please contact us using the online form on our web site, or send email to hello (at) appvity (dot) com.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingAppvityFaqs07">
                            <a data-toggle="collapse" href="#collapseAppvityFaqs07" aria-expanded="false" aria-controls="collapseAppvityFaqs07" class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>How to purchase an Appvity product? Which payment methods are available?</h6>
                            </a>
                          </div>
                          <div id="collapseAppvityFaqs07" class="collapse" aria-labelledby="headingAppvityFaqs07" data-parent="#accordionAppvityFaqs">
                            <div class="card-body">
                              Purchase information will be available on our web site once the product is released in 2019.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingAppvityFaqs08">
                            <a data-toggle="collapse" href="#collapseAppvityFaqs08" aria-expanded="false" aria-controls="collapseAppvityFaqs08" class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>How to install an Appvity product?</h6>
                            </a>
                          </div>
                          <div id="collapseAppvityFaqs08" class="collapse" aria-labelledby="headingAppvityFaqs08" data-parent="#accordionAppvityFaqs">
                            <div class="card-body">
                              Installation instruction to deploy eTask and eBug to Microsoft Team is available on our online documentation. Please refer
                              to the “Admin Installation and Settings” section for completed detail.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingAppvityFaqs09">
                            <a data-toggle="collapse" href="#collapseAppvityFaqs09" aria-expanded="false" aria-controls="collapseAppvityFaqs09" class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>How can I contact Appvity customer service?</h6>
                            </a>
                          </div>
                          <div id="collapseAppvityFaqs09" class="collapse" aria-labelledby="headingAppvityFaqs09" data-parent="#accordionAppvityFaqs">
                            <div class="card-body">
                              Please use the online form on our web site, or send email to support (at) appvity (dot) com
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="pills-etask" role="tabpanel" aria-labelledby="pills-etask-tab">
                    <div class="d-flex flex-column flex-wrap accordion" id="accordionProductFaqseTask">
                      <div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask01">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask01" aria-expanded="true" aria-controls="collapseProductFaqseTask01"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Why can't I add a picture or insert rich text to the body of a task?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask01" class="collapse show" aria-labelledby="headingProductFaqseTask01" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>Appvity eTask and VSTS source support image and rich text insertion to the body of a task,
                                while Jira and Planner do not support. Capacity of inserted image can only be 70 KB or lower.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask02">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask02" aria-expanded="false" aria-controls="collapseProductFaqseTask02"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Can I select and edit multiple items?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask02" class="collapse" aria-labelledby="headingProductFaqseTask02" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>No, you cannot. eTask supports selecting or editing one at a time.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask03">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask03" aria-expanded="false" aria-controls="collapseProductFaqseTask03"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Once I create a task and associate that with an external data source, like JIRA, can I re-associate
                                that task to a different data source?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask03" class="collapse" aria-labelledby="headingProductFaqseTask03" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>No you cannot. To change the task to a different data source, you can “clone” that task to
                                a new one and change the data source.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask04">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask04" aria-expanded="false" aria-controls="collapseProductFaqseTask04"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>What will happen if I delete a task that is linked to an external data source? Will the task
                                in the external data source be deleted?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask04" class="collapse" aria-labelledby="headingProductFaqseTask04" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>eTask is synchronized with other external data sources, so if you delete a task that is linked
                                to an external data source, that task will be deleted in the external data source too.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask05">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask05" aria-expanded="false" aria-controls="collapseProductFaqseTask05"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>If I link eTask to an external data source like Planner, what will happen when a user adds
                                a task using Planner interface?
                              </h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask05" class="collapse" aria-labelledby="headingProductFaqseTask05" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>If you add a task using Planner interface, that task will be shown in eTask too once you reload
                                the eTask tab.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask06">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask06" aria-expanded="false" aria-controls="collapseProductFaqseTask06"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>What will happen if I used an attribute such as Status=Hold, and the external data source that
                                this task is linked to does not support that choice?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask06" class="collapse" aria-labelledby="headingProductFaqseTask06" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>The status will be changed into Not Started.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask07">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask07" aria-expanded="false" aria-controls="collapseProductFaqseTask07"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Who will receive notification when a task is updated?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask07" class="collapse" aria-labelledby="headingProductFaqseTask07" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>The assignee(s), the creator, and project manager. You can set to whom and when the notifications
                                is sent by going to Settings > Others > Email Alert.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask08">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask08" aria-expanded="false" aria-controls="collapseProductFaqseTask08"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Can I create multiple eTask tabs in a Team or Channel?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask08" class="collapse" aria-labelledby="headingProductFaqseTask08" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>Yes, you can.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask09">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask09" aria-expanded="false" aria-controls="collapseProductFaqseTask09"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Can external guest users participate in eTask?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask09" class="collapse" aria-labelledby="headingProductFaqseTask09" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>No. Only users that are added into Team can use eTask in multiple channels.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask10">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask10" aria-expanded="false" aria-controls="collapseProductFaqseTask10"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Does eTask require an external data source to work? Where is the data store?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask10" class="collapse" aria-labelledby="headingProductFaqseTask10" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>No. eTask can work with its default build-in database, which is located on Azure cloud portal.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask11">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask11" aria-expanded="false" aria-controls="collapseProductFaqseTask11"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>What happens in eTask when I modify a record in the external data source? For example, modify
                                task name in Planner?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask11" class="collapse" aria-labelledby="headingProductFaqseTask11" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>When you modify a record in the external data source, that record in eTask will be changed
                                too.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask12">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask12" aria-expanded="false" aria-controls="collapseProductFaqseTask12"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Why can’t I see anything in Team Board when grouped by “Assigned To”?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask12" class="collapse" aria-labelledby="headingProductFaqseTask12" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>Because the assignee's names have not been added manually. Adding the assignee's name will
                                allow you to see the tasks belong to that person.</p>
                            </div>
                          </div>
                        </div>


                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask13">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask13" aria-expanded="false" aria-controls="collapseProductFaqseTask13"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Can I create a Task View with a specific source only (Task View of tasks from Jira)?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask13" class="collapse" aria-labelledby="headingProductFaqseTask13" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>Yes, you can. You can filter Task View by source in the Task View settings panel.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask14">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask14" aria-expanded="false" aria-controls="collapseProductFaqseTask14"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Can I set multiple accounts from external sources into 1 user in Report View? </h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask14" class="collapse" aria-labelledby="headingProductFaqseTask14" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>Yes, you can. Go to Settings > User Mapping to map users from other sources.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask15">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask15" aria-expanded="false" aria-controls="collapseProductFaqseTask15"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>How can I embed a single task into Conversation?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask15" class="collapse" aria-labelledby="headingProductFaqseTask15" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>In the chat box, type “@eTask” > Find a task (or click on “Messaging extensions”) > Choose
                                eTask > Choose a specific task > Click on the send icon to embed a task into the conversation.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask16">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask16" aria-expanded="false" aria-controls="collapseProductFaqseTask16"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>What will happen if I remove an eTask tab? Will all my data be deleted?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask16" class="collapse" aria-labelledby="headingProductFaqseTask16" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>No, your data will not be deleted when you remove an eTask tab. Data from other sources will
                                be stored in themselves while Appvity eTask data will be stored in AD. Data from VSTS, Jira,
                                or MS Planner will be deleted unless they are deleted from external sources. Data from Appvity
                                eTask source will be deleted when you remove the channel.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask17">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask17" aria-expanded="false" aria-controls="collapseProductFaqseTask17"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>What will happen if I remove the Channel that has my eTask tab? Will all my data in eTask be
                                deleted?
                              </h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask17" class="collapse" aria-labelledby="headingProductFaqseTask17" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>Only data in the Appvity eTask data source will be deleted while data in other data sources
                                will not be.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask18">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask18" aria-expanded="false" aria-controls="collapseProductFaqseTask18"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Why can’t I delete my public views?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask18" class="collapse" aria-labelledby="headingProductFaqseTask18" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>You cannot delete your public views or other’s. You can delete your private view only. By that,
                                public view will not be shown.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask19">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask19" aria-expanded="false" aria-controls="collapseProductFaqseTask19"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Why are my settings for “Allow page size” not working?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask19" class="collapse" aria-labelledby="headingProductFaqseTask19" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>If one of your private views is set as “Default View”, settings for “Allow page size” in eTask
                                settings will not work unless you change settings in that private view itself.</p>
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseTask20">
                            <a data-toggle="collapse" href="#collapseProductFaqseTask20" aria-expanded="false" aria-controls="collapseProductFaqseTask20"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>What file formats are supported when upload attachment to a task?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseTask20" class="collapse" aria-labelledby="headingProductFaqseTask20" data-parent="#accordionProductFaqseTask">
                            <div class="card-body">
                              <p>eTask supports all types of files within 5MB and below. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="pills-ebug" role="tabpanel" aria-labelledby="pills-ebug-tab">
                    <div class="d-flex flex-column flex-wrap accordion" id="accordionProductFaqseBug">
                      <div class="a-tbd" style="
                        background: #f2f3f2;
                        height: 194px;
                        padding: 24px 32px;
                    ">TBD
                      </div>
                      <div style="display: none">
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseBug01">
                            <a data-toggle="collapse" href="#collapseProductFaqseBug01" aria-expanded="true" aria-controls="collapseProductFaqseBug01"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Why can't I add picture or insert rich text to the body of a task?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseBug01" class="collapse show" aria-labelledby="headingProductFaqseBug01" data-parent="#accordionProductFaqseBug">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                              non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                              wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                              et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                              raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                              VHS.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseBug02">
                            <a data-toggle="collapse" href="#collapseProductFaqseBug02" aria-expanded="false" aria-controls="collapseProductFaqseBug02"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Can I select and edit multiple items?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseBug02" class="collapse" aria-labelledby="headingProductFaqseBug02" data-parent="#accordionProductFaqseBug">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                              non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                              wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                              et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                              raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                              VHS.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseBug03">
                            <a data-toggle="collapse" href="#collapseProductFaqseBug03" aria-expanded="false" aria-controls="collapseProductFaqseBug03"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Does eTask require an external data source to work? Where is the data store?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseBug03" class="collapse" aria-labelledby="headingProductFaqseBug03" data-parent="#accordionProductFaqseBug">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                              non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                              wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                              et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                              raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                              VHS.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseBug04">
                            <a data-toggle="collapse" href="#collapseProductFaqseBug04" aria-expanded="false" aria-controls="collapseProductFaqseBug04"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Who receives notification when a task is updated?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseBug04" class="collapse" aria-labelledby="headingProductFaqseBug04" data-parent="#accordionProductFaqseBug">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                              non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                              wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                              et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                              raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                              VHS.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseBug05">
                            <a data-toggle="collapse" href="#collapseProductFaqseBug05" aria-expanded="false" aria-controls="collapseProductFaqseBug05"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Can I create multiple eTask tabs in a Team or Channel?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseBug05" class="collapse" aria-labelledby="headingProductFaqseBug05" data-parent="#accordionProductFaqseBug">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                              non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                              wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                              et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                              raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                              VHS.
                            </div>
                          </div>
                        </div>
                        <div class="a-collapseacordion a-collapseacordion-bg">
                          <div class="card-header p-0" role="tab" id="headingProductFaqseBug06">
                            <a data-toggle="collapse" href="#collapseProductFaqseBug06" aria-expanded="false" aria-controls="collapseProductFaqseBug06"
                              class="collapsed">
                              <div class="icon-arrow"></div>
                              <h6>Can external guess users participate in eTask?</h6>
                            </a>
                          </div>
                          <div id="collapseProductFaqseBug06" class="collapse" aria-labelledby="headingProductFaqseBug06" data-parent="#accordionProductFaqseBug">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                              non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                              wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                              et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                              raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                              VHS.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="order-2 order-lg-2 app-generalfaqs">
      <div class="d-flex flex-column justify-content-between align-items-stretch">
        <div>
          <div class="d-flex flex-column align-items-stretch flex-wrap a-productfaqs a-mainblogs a-mainblogs-02">
            <div>
              <h4>NEWS</h4>
            </div>
            <div class="d-flex flex-md-row flex-column flex-wrap">

              <div class="card d-flex flex-md-row flex-column justify-content-between align-items-stretch" onclick="window.location='newsdetail.html'">
                <div class="card-body">
                  <p class="card-title">How to Configure and Publish InfoPath to SharePoint 2013</p>
                  <div class="a-caption">13:22 | 04/11/2018</div>                  
                </div>
                <div style="background-image:url(http://www.mediafire.com/convkey/95a3/yid60mzkbi7ch7azg.jpg);">
                  <div class="app-bgshadow"></div>
                </div>
              </div>

              <div class="card d-flex flex-md-row flex-column justify-content-between align-items-stretch" onclick="window.location='newsdetail.html'">
                <div class="card-body">
                  <p class="card-title">5 Step Program to Treat Windows 8 Start-Button Depression Syndrome</p>
                  <div class="a-caption">13:22 | 04/11/2018</div>                  
                </div>
                <div style="background-image:url(http://www.mediafire.com/convkey/4211/3aox3tfa32wvic7zg.jpg);">
                  <div class="app-bgshadow"></div>
                </div>
              </div>

              <div class="card d-flex flex-md-row flex-column justify-content-between align-items-stretch" onclick="window.location='newsdetail.html'">
                <div class="card-body">
                  <p class="card-title">Dimensional Research: Android, Users are Biggest Corporate Security Risks</p>
                  <div class="a-caption">13:22 | 04/11/2018</div>                  
                </div>
                <div style="background-image:url(http://www.mediafire.com/convkey/37f0/j36l4gp9p23ze22zg.jpg);">
                  <div class="app-bgshadow"></div>
                </div>
              </div>

              <div class="card d-flex flex-md-row flex-column justify-content-between align-items-stretch" onclick="window.location='newsdetail.html'">
                <div class="card-body">
                  <p class="card-title">Notes: Install SharePoint Server 2013 on Windows 2012 Server error</p>
                  <div class="a-caption">13:22 | 04/11/2018</div>                  
                </div>
                <div style="background-image:url(http://www.mediafire.com/convkey/95a3/yid60mzkbi7ch7azg.jpg);">
                  <div class="app-bgshadow"></div>
                </div>
              </div>

            </div>
            <a href="newsroom.html" class="view-archive-link"><div class="view-archive-text">View Archive ></div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scriptInline %}
<script src="js/servicesonlinedocs.js?rev=1.0.0.0"></script>
<!-- <script>
	$(document).ready(function () {
	  if (window.location.hash) {
		var hashTag = window.location.hash;
		var hashTagCardHeader = hashTag + "> .card-header > a[data-toggle='collapse']";
		var tabPaneCardHeader = ".tab-pane > .card-header > a[data-toggle='collapse']";
		if (hashTag.indexOf("#project") > -1) {
		  if (hashTag != "#project1") {
			var linkHashTag = ".nav-link[href='" + hashTag + "']";
			$(".tab-pane").removeClass("active show");
			$(".nav-link").removeClass("active show");
			//Remove for mobile
			$(".tab-pane > .collapse").removeClass("show");
			$(tabPaneCardHeader).addClass("collapsed");
			$(tabPaneCardHeader).attr("aria-expanded", "false");
			//Add
			$(hashTag).addClass("active show");
			$(linkHashTag).addClass("active show");
			//Add for mobile
			$(hashTag + "> .collapse").addClass("show");
			$(hashTagCardHeader).removeClass("collapsed");
			$(hashTagCardHeader).attr("aria-expanded", "true");
  
			window.location = window.location.href;
		  }
		  else {
			window.location = window.location.href;
		  }
		}
	  }
	});
  </script> -->
{% endblock %}