{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<h3>Overview</h3>
		<div class="page-section">
			<p>eBot is an intelligent bot for interacting with eTask and eBug through conversations, which provides an
				easy way to view, edit, or open a task in the Conversations tab.</p>
			<p>From the Conversations tab, type “@eTask”, and then choose eTask.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-AI-eBot.png">
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-AI-eBot-1.png">
			<p>Choose “What can I do?”</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-AI-eBot-2.png">
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-AI-eBot-3.png">
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}