{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<h3>Overview</h3>
		<div class="page-section">
			<p>Board (Kanban) View is designed to show a quick overview of tasks so that the user can make
				quick actions without the need to go into the details of each task. Tasks are displayed as
				cards in a multi column board, which supports drag and drop.</p>
			<p>By default, Board View is grouped by Priority.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-view-kanban-home.png">
			<p class="color-red">Note: Board view doesn’t support Bug.</p>
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}