{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<h3>Overview</h3>
		<div class="page-section">
			<p>You can have a summary of your tasks via charts on eTask. By default, the Team Progress view doesn’t show
				any data because a Report View must be configured and created first.</p>
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}