{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<h3>Overview</h3>
		<div class="page-section">
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-view-calendar-home.png">
			<p>By default, Month view is shown. Other views include Day, Work Week, Week, and Agenda.</p>
			<ul class="a-list a-list-decimal">
				<li>Today: Navigate to Today.</li>
				<li>◄ / ► : Navigate to the previous/next day.</li>
				<li>Date Select: Select a date to navigate to.</li>
			</ul>
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}