{% extends "layout.html" %}

{% block headerMode %}
<div class="default">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>Pricing</title>
{% endblock %}

{% block indexContent %}
<!-- Start Banner -->
<div id="app-slider" class="slider">
	<ul class="slides">
		<li>
			<img src="img/pricing-banner.jpg" /> <!-- random image -->
			<div class="caption left-align d-flex align-items-stretch align-vertical-center">
				<div>
					<h3>Pricing</h3>
					<h5 class="light grey-text text-lighten-3">Affordable per user pricing.  You'll pay just for you
						need to manage your projects.</h5>
				</div>
			</div>
		</li>
	</ul>
</div>
<!-- End Banner -->
<!-- Start Body -->
<div class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns a-pricing">
	<div>
		<h4>Plans</h4>
		<div class="section-description">
			<p>Appvity goal is to build practical, affordable tools that you can use. We offer pricing plan that can
				get you started and evaluate your needs painlessly.  We make it more convenient as you grow.  Our
				application is fully operational as a cloud platform that you can self-managed.  No sales team will
				call - use just what you need.  Of course, you can contact us for Quotes and Order Forms, along with
				our Cloud Terms of Service and our common Software License Agreement for all our cloud based
				software.</p>
		</div>
	</div>

	<div class="d-flex flex-md-row flex-column flex-wrap flex-3items">
		<div class="card">
			<div class="card-body">
				<div class="a-pricing-icon groupuser-small"></div>
				<h5 class="card-title">For less than 10 users</h5>
				<h5 class="pricing-price"><span class="pricing-unit">$</span><span class="pricing-value">20</span></h5>
				<p><b>Flat monthly fee</b></p>
				<p class="card-text">Fixed, affordable price to get started.</p>
				<div class="input-field">
					<a class="waves-effect waves-light btn">Purchase Now</a>
				</div>
				<div style="position: absolute; bottom: 21px; margin-left: auto; margin-right: auto; left: 0;
				right: 0; font-size: 11px; font-style: italic;">Product will be released late 2019</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="a-pricing-icon groupuser-medium"></div>
				<h5 class="card-title">From 11 to 100 users</h5>
				<h5 class="pricing-price"><span class="pricing-unit">$</span><span class="pricing-value">8.49</span>
				</h5>
				<p><b>per user/month</b></p>
				<p class="card-text">Flexible price per user per month.  Change your subscription or cancel at any
					time.</p>
				<div class="input-field">
					<a class="waves-effect waves-light btn">Purchase Now</a>
				</div>
				<div style="position: absolute; bottom: 21px; margin-left: auto; margin-right: auto; left: 0;
				right: 0; font-size: 11px; font-style: italic;">Product will be released late 2019</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="a-pricing-icon groupuser-large"></div>
				<h5 class="card-title">For more than 100 users</h5>
				<h5 class="pricing-price"><span class="pricing-unit">$</span><span class="pricing-value">6.99</span>
				</h5>
				<p><b>per user/month</b></p>
				<p class="card-text">The most valuable package for your business.</p>
				<div class="input-field">
					<a class="waves-effect waves-light btn">Purchase Now</a>
				</div>
				<div style="position: absolute; bottom: 21px; margin-left: auto; margin-right: auto; left: 0;
				right: 0; font-size: 11px; font-style: italic;">Product will be released late 2019</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}