{% extends "layout.html" %}

{% block headerMode %}
<div class="default">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>Services</title>
{% endblock %}

{% block indexContent %}
<!-- Start Banner -->
<div id="app-slider" class="slider align-vertical-center-container">
	<ul class="slides">
		<li>
			<img src="http://www.mediafire.com/convkey/37f0/j36l4gp9p23ze22zg.jpg">
			<div class="caption left-align d-flex align-items-stretch align-vertical-center">
				<div>
					<h3>Just get it done!</h3>
					<h5 class="light grey-text text-lighten-3">At Appvity, we value speed, clarity, and simplicity. We
						pride ourselves on listening to clients, gathering their requirements, and presenting a solution
						that removes the technical complexity to focus on the simplest way to solve an existing business
						problem.</h5>
				</div>
			</div>
		</li>
	</ul>
</div>
<!-- End Banner -->
<!-- Start Body -->
<div class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns a-services">
	<div>
		<h4>What we do</h4>
		<div class="section-description">
			<p>Appvity specializes in full cycle consulting from business analysis, requirements, development, and
				support. Our development service focuses on Office 365, Azure, and SharePoint platform. We developed
				automation workflow that ties together your data, documentation, and business process, on the cloud, or
				on-premise. We also provide training, knowledge transfer, and documentation -- as an extension to your
				in-house IT department.</p>
		</div>
	</div>
	<div>
		<div class="d-flex flex-md-row flex-column flex-wrap flex-2items">
			<div class="card" style="background-image:url(img/Services-portal02.jpg);">
				<div class="card-body">
					<h5 class="card-title">Collaboration Portal</h5>
					<p class="card-text">Our team developed and customized a number of SharePoint for enterprise
						solutions. You can be confident that we have the extensive experience to help you build your
						custom SharePoint applications on time and within budget.</p>
				</div>
			</div>
			<div class="card" style="background-image:url(img/appvity-business-process-automation-02.jpg);">
				<div class="card-body">
					<h5 class="card-title">Business Automation</h5>
					<p class="card-text">We have developed full life cycle business automation projects for large
						enterprise using electronic forms that handle complex business processes based on SharePoint and
						Nintex workflow platforms.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="project_highlight"
	class="d-flex flex-md-row flex-column justify-content-between align-items-stretch flex-2columns ">
	<div>
		<h4>What we did</h4>
		<div class="section-description">
			<p>Here are some highlights of our work over the past decade. From document management systems, workflow
				process automation, to full cycle procurement-to-payment systems. These systems are built using the
				latest technologies from SharePoint, JavaScript, Angular, Azure & Office 365 web services, NodeJS, SQL,
				Forms, and Workflow.</p>
		</div>
	</div>
	<div>
		<div class="d-flex flex-md-row flex-column align-items-stretch flex-wrap a-projects">

			<!-- Tab panes -->
			<div id="app-collapse-on-phone" class="accordion tab-content col-md-8 col-12 order-md-1 order-1">
				<div id="project1" class="tab-pane fade in active show">
					<div class="card-header p-0" role="tab" id="app-project-management-header">
						<a data-toggle="collapse" href="#app-project-management" aria-expanded="true"
							aria-controls="app-project-management" class="">
							<h5>Project Management System</h5>
						</a>
					</div>
					<div id="app-project-management" class="collapse show" role="tabpanel"
						aria-labelledby="app-project-management-header" data-parent="#app-collapse-on-phone">
						<h5>Project Management System</h5>
						<div class="app-bg-img" style="background-image:url('img/projectmanagementsystem.png');"></div>
						<ul class="a-list m-b-16">We worked with a global manufacturing company in the US to implement a
							SharePoint project management portal with the following
							capabilities:
							<li>Develop electronic forms using InfoPath and SharePoint workflow to allow the customer to
								implement a project approval
								system.</li>
							<li>KPIs, Dashboard for project management.</li>
							<li>On-demand integration with Excel for data analysis.</li>
						</ul>
					</div>
				</div>
				<div id="project3" class="tab-pane fade in">
					<div class="card-header p-0" role="tab" id="app-pay-management-header">
						<a data-toggle="collapse" href="#app-pay-management" aria-expanded="true"
							aria-controls="app-pay-management" class="collapsed">
							<h5>Procure to Pay Management System</h5>
						</a>
					</div>
					<div id="app-pay-management" class="collapse" role="tabpanel"
						aria-labelledby="app-pay-management-header" data-parent="#app-collapse-on-phone">
						<h5>Procure to Pay Management System</h5>
						<div class="app-bg-img" style="background-image:url('img/procuretopaymanagementsystem.png');">
						</div>
						<p>We worked with a major international insurance company in Vietnam to automate critical
							business processes using worklow
							and electronic forms. The worklow ultilizes Nintex worklow tools on top of SharePoint
							workflow engine. We implemented a complete
							life cycle from procurement to payment business process, including purchase request and
							approval. This included proposal review
							and selection, vendor review and approval, payment requests and approval, integration with
							financial systems to read
							and update data from the workflow, and implementation of reports, dashboard, and charts for
							management review.</p>
					</div>
				</div>
				<div id="project4" class="tab-pane fade in">
					<div class="card-header p-0" role="tab" id="app-document-management-header">
						<a data-toggle="collapse" href="#app-document-management" aria-expanded="true"
							aria-controls="app-document-management" class="collapsed">
							<h5>Document Management System</h5>
						</a>
					</div>
					<div id="app-document-management" class="collapse" role="tabpanel"
						aria-labelledby="app-document-management-header" data-parent="#app-collapse-on-phone">
						<h5>Document Management System</h5>
						<div class="app-bg-img" style="background-image:url('img/documentmanagementsystem.png');"></div>
						<ul class="a-list m-b-16">We worked with a global Petro and Gas company in Vietnam to implement
							a SharePoint portal to address the following issues:
							<li>Architecture, design, and deployment of the entire SharePoint farm. Including intranet,
								extranet, and backup disaster recovery
								farms.</li>
							<li>Implement workflows to support daily business process.</li>
							<li>Develop a secured extranet portal site to allow customer to collaborate with its
								partners and contractors worldwide.</li>
							<li>Develop the Intranet portal to employ a document center to manage a large volume of
								electronic documents for exploration
								projects, with 3TB of files being migrated from file shares into SharePoint.</li>
							<li>Setup the Managed Metadata system to help users manage, navigate, search the content
								easily.</li>
						</ul>
					</div>
				</div>
				<div id="project5" class="tab-pane fade in">
					<div class="card-header p-0" role="tab" id="app-knowledge-management-header">
						<a data-toggle="collapse" href="#app-knowledge-management" aria-expanded="true"
							aria-controls="app-knowledge-management" class="collapsed">
							<h5>Knowledge Management Portal</h5>
						</a>
					</div>
					<div id="app-knowledge-management" class="collapse" role="tabpanel"
						aria-labelledby="app-knowledge-management-header" data-parent="#app-collapse-on-phone">
						<h5>Knowledge Management Portal</h5>
						<div class="app-bg-img" style="background-image:url('img/knowledgemanagementportal.png');">
						</div>
						<ul class="a-list m-b-16">This project was built for the world’s largest consulting firm
							specializing in software security. The company just
							started to use SharePoint for intranet collaboration and document management. Appvity
							successfully deployed a SharePoint
							2013 environment and was responsible for:
							<li>Architect, design, and implementation of portal site structure, security structure, and
								overall information architecture,
								including many new services introduced in SharePoint 2013.</li>
							<li>Design of the dataflow architecture, classification, indexing, and search engine.</li>
							<li>Developed a custom PKI dashboard to manage projects and portfolio. Wrote and deployed
								approval workflows for content
								review/approval.</li>
							<li>Wrote documentation and training for project managers and IT department.</li>
						</ul>
					</div>
				</div>
				<div id="project6" class="tab-pane fade in">
					<div class="card-header p-0" role="tab" id="app-o365-collaboration-header">
						<a data-toggle="collapse" href="#app-o365-collaboration" aria-expanded="true"
							aria-controls="app-o365-collaboration" class="collapsed">
							<h5>O365 Online Collaboration</h5>
						</a>
					</div>
					<div id="app-o365-collaboration" class="collapse" role="tabpanel"
						aria-labelledby="app-o365-collaboration-header" data-parent="#app-collapse-on-phone">
						<h5>O365 Online Collaboration</h5>
						<div class="app-bg-img" style="background-image:url('img/o365onlinecollaboration.png');"></div>
						<ul class="a-list m-b-16">We provided system integration and implementation service for a major
							Airline in Vienam to migrate their existing business
							to Microsoft’s Office 365 cloud platform.
							<li>Migration of data and documents to SharePoint online.</li>
							<li>Migration of emails and user security groups. Design and deployment of Active Directoty
								federation.</li>
							<li>Prepraration and creation of Office 365 portal, sites, user groups, and list information
								structure.</li>
							<li>Creation of custom apps to provide enhanced Corporate News Feed, Tasks Tracking,
								Corporate and Group Calendar, and Resource
								Tracking.</li>
							<li>Implementation of custom branding for the entire site.</li>
						</ul>
					</div>
				</div>
				<div id="project7" class="tab-pane fade in">
					<div class="card-header p-0" role="tab" id="app-business-collaboration-header">
						<a data-toggle="collapse" href="#app-business-collaboration" aria-expanded="true"
							aria-controls="app-business-collaboration" class="collapsed">
							<h5>Business Procurement Process</h5>
						</a>
					</div>
					<div id="app-business-collaboration" class="collapse" role="tabpanel"
						aria-labelledby="app-business-collaboration-header" data-parent="#app-collapse-on-phone">
						<h5>Business Procurement Process</h5>
						<div class="app-bg-img" style="background-image:url('img/businessprocurementprocess.png');">
						</div>
						<ul class="a-list m-b-16">We worked with a major international insurance company in Vietnam to
							automate critical business processes using worklow
							and electronic forms. The worklow ultilized the Nintex worklow tool on top of SharePoint
							workflow engine.
							<li>Implementation of complete life cycle from procurement to payment business process,
								including:
								<ul>
									<li>Purchase request and approval.</li>
									<li>Proposal review and selection.</li>
									<li>Vendor review and approval.</li>
									<li>Payment requests and approval.</li>
								</ul>
							</li>
							<li>Integration with Financial system to read and update data from the workflow.</li>
							<li>Implementation of reports, dashboard, and charts for management review.</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Nav pills -->
			<ul class="nav nav-pills col-md-4 col-12 order-md-0 order-0" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="pill" href="#project1">
						<h5>Project Management System</h5>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#project3">
						<h5>Procure to Pay Management System</h5>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#project4">
						<h5>Document Management System</h5>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#project5">
						<h5>Knowledge Management Portal</h5>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#project6">
						<h5>O365 Online Collaboration</h5>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#project7">
						<h5>Business Procurement Process</h5>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block scriptInline %}
<script src="js/servicesonlinedocs.js?rev=1.0.0.0"></script>
<!-- <script>
	$(document).ready(function () {
		if (window.location.hash) {
			var hashTag = window.location.hash;
			var hashTagCardHeader = hashTag + "> .card-header > a[data-toggle='collapse']";
			var tabPaneCardHeader = ".tab-pane > .card-header > a[data-toggle='collapse']";
			if (hashTag.indexOf("#project") > -1) {
				if (hashTag != "#project1") {
					var linkHashTag = ".nav-link[href='" + hashTag + "']";
					$(".tab-pane").removeClass("active show");
					$(".nav-link").removeClass("active show");
					//Remove for mobile
					$(".tab-pane > .collapse").removeClass("show");
					$(tabPaneCardHeader).addClass("collapsed");
					$(tabPaneCardHeader).attr("aria-expanded", "false");
					//Add
					$(hashTag).addClass("active show");
					$(linkHashTag).addClass("active show");
					//Add for mobile
					$(hashTag + "> .collapse").addClass("show");
					$(hashTagCardHeader).removeClass("collapsed");
					$(hashTagCardHeader).attr("aria-expanded", "true");

					window.location = window.location.href;
				}
				else {
					window.location = window.location.href;
				}
			}
		}
	});
</script> -->
{% endblock %}