{% extends "help-layout.html" %}

{% block headerMode %}
<div class="dark">
	{% include "header.html" %}
</div>
{% endblock %}

{% block headTitle %}
<title>eTask Help</title>
{% endblock %}

{% block helpContent %}
<div class="appRightContent">
	<div class="a-section">
		<h3>Widgets</h3>
		<div class="page-section">
			<h4>Sticky Note</h4>
			<img class="a-screenshot-landscape-small" src="img/HelpPage/etask-view-progress-sticky.png">
			<ul class="a-list">
				<li>Projects: Show the total number of projects of that PM is working on.</li>
				<li>Total tasks: Show the total number of tasks of these projects have in Time Frame.</li>
				<li>Members: Show the total number of members of the projects except those who don’t have
					any task during the Time Frame. If a member is in multiple projects, it is still counted
					as 1.</li>
				<li>Overdue: Show the total number of tasks that have status = “Overdue” of these projects.
					This will include task that has due date with:
					<ul class="a-list">
						<li><span style="text-decoration: line-through">Status = “Completed”: Actual
								completed date > Due Date </span>(later).</li>
						<li>Other statuses: Current Date > Due Date</li>
					</ul>
				</li>
				<li>In-Progress: Show the total number of tasks that have status = “In-Progress” of these
					projects.</li>
				<li>Not Started: Show the total number of tasks that have status = “Not Started” of these
					projects.</li>
				<li>Type: None.</li>
			</ul>
		</div>
		<div class="page-section">
			<h4>Status</h4>
			<img class="a-screenshot-landscape-small" src="img/HelpPage/etask-view-progress-status.png">
			<ul class="a-list">
				<li>Show percentages of tasks sorted by status within Time Frame.</li>
			</ul>
		</div>
		<div class="page-section">
			<h4>Priority</h4>
			<img class="a-screenshot-landscape-small" src="img/HelpPage/etask-view-progress-priority.png">
			<ul class="a-list">
				<li>Show percentages of tasks sorted by priority within Time Frame.</li>
			</ul>
		</div>
		<div class="page-section">
			<h4>Monthly Workload</h4>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-view-progress-workload.png">
			<ul class="a-list">
				<li>Shows the chart of tasks by Projects in Monthly. Each bar represents a project.</li>
				<li>Status filter:
					<ul class="a-list">
						<li>All </li>
						<li>Not Started</li>
						<li>In-Progress</li>
						<li>Hold</li>
						<li>Completed</li>
						<li>Overdue </li>
					</ul>
				</li>
				<li>If Global filter enable or disable a status > In workload filter will have the same
					available statues as Global Filter. </li>
				<li>If Global Filter disable a status being chosen in workload filter, by default, workload
					filter will choose option “All”.</li>
				<li>Type: Column, Bar, Line.</li>
			</ul>
		</div>
		<div class="page-section">
			<h4>Stacked Team member</h4>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-view-progress-stacked.png">
			<ul class="a-list">
				<li>Breakdown all tasks for each member base on status (with overdue)</li>
				<li>User can click on element of the chart to show detail information grouped by projects
				</li>
				<li>Type: Stack.</li>
			</ul>
		</div>
		<div class="page-section">
			<h4>Portrait Team member</h4>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-view-progress-portrait.png">
			<ul class="a-list">
				<li>Breakdown all tasks for each member filtered by status
					<ul class="a-list">
						<li>User can click on element of the chart to show detail information grouped by
							projects</li>
						<li>Type: Portrait.</li>
					</ul>

				</li>
			</ul>

		</div>
		<div class="page-section">
			<h4>Hyperlink</h4>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-view-progress-hyperlink.png">
		</div>
		<div class="page-section">
			<h4>Note</h4>
			<p>Allow user to write personal note.</p>
			<img class="a-screenshot-landscape-large" src="img/HelpPage/etask-view-progress-note.png">
		</div>
	</div>
	{% include "help-layout-backup.html" %}
</div>
{% endblock %}