.block-blog-pages {

    h6,
    body {
        line-height: 18px !important;
        font-size: 14px !important;
    }

    h4,
    h5 {
        font-weight: 300 !important;
    }

    @media (max-width: 767.98px) {
        h4 {
            font-size: 32px !important;
        }

        h5 {
            font-size: 21px !important;
        }

        h5 {
            margin: 12px 0px;
        }

        .a-logo-mobile {
            margin: 12px 0px;
            text-align: center;

            img {
                height: 32px;
            }
        }

        .a-logo-dark {
            display: none;
        }

        .card-body {
            padding: 0px 0px 24px;
        }

        .eBug-24,
        .eCalendar-24,
        .eStorage-24,
        .eResources-24,
        .eTask-24,
        .eProject-24,
        .ePicture-24 {
            display: inline-block;
            padding: 0px 10px 0px 24px;
            margin: 6px 0px;
            line-height: 36px;
        }

        .a-topuser {
            padding: 0px;
        }

        .a-topmenu .side-nav .collapsible-body a {
            display: flex;
            text-transform: inherit;

            h6 {
                margin: 0px;
                padding: 16px;
            }

            img {
                width: 32px;
            }
        }

        .a-mainblogs .card {
            height: 400px;
            width: 100%;
            margin-bottom: 16px !important;
            transition: all 0.4s ease;

            h5 {
                height: 140px;
            }

            >div {
                &:first-child {
                    width: 100%;
                    border: 1px solid rgba(0, 0, 0, 0.05);
                    background-color: rgba(0, 0, 0, 0.05);
                    padding: 24px;
                }

                &:last-child {
                    width: 100%;
                    background-position: center center;
                    background-size: cover;
                    height: 200px;
                }
            }
        }

        /*Flex 3 columns*/

        .flex-3columns>div {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.07);
            padding: 8px 24px;

            &.blogs-wrap {
                width: 100%;
                padding: 16px 24px 32px;
                margin-top: 52px;
                border-left: 0px;
                border-right: 0px;
                background: none;
                border: none;
            }
        }

        .slider .slides li .caption {
            top: 0%;
            left: 5%;
            right: 5%;
            width: initial;
            background-color: rgba(0, 0, 0, 0.7);
            margin: 24px 0px;

            h3 {
                color: #f2ad13;
                text-shadow: 0px 2px 3px #333333;
                font-size: 2rem;
                margin: 16px;
            }
        }

        .flex-2columns {
            >div {
                &:first-child {
                    margin-top: 0px;
                    border-bottom: 0px;
                }

                &:last-child .card:last-child {
                    margin-bottom: 24px;
                    border-bottom: 0px;
                }
            }

            h4 {
                padding: 16px 24px;
                text-transform: uppercase;
            }

            .section-description {
                margin: 0px 24px 16px;
                display: inline-block;
            }

            .card {
                min-height: 150px;
                margin: 24px;
                margin-top: 0px;
            }
        }

        .flex-2items>div,
        .flex-3items>div,
        .flex-4items>div,
        .flex-6items>div {
            margin-top: 0px;
        }

        .footer .card-body {
            padding: 0px;
        }

        nav .button-collapse {
            margin: 0px 24px;
        }

        .a-underconstruction {
            max-width: 100%;
            height: 400px;
            background-image: url('../img/under-construction.jpg');
            background-position: center center;

            >div {
                color: white;
                position: absolute;
                width: calc(100% - 48px);
                left: 24px;
                top: 5%;
            }
        }
    }

    @media (max-width: 1279px) and (min-width: 768px) {
        h4 {
            font-size: 28px !important;
        }

        h5 {
            font-size: 21px !important;
        }

        .a-logo-dark {
            margin: 16px 0px;

            img {
                height: 32px;
            }
        }

        .a-logo-mobile {
            display: none;
        }

        .card-body {
            padding: 32px;
        }

        .eBug-24,
        .eCalendar-24,
        .eStorage-24,
        .eResources-24,
        .eTask-24,
        .eProject-24,
        .ePicture-24 {
            display: inline-block;
            padding: 8px 10px 8px 24px;
        }

        .a-topuser {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 0px;
        }

        .a-mainblogs .card {
            height: 250px;
            width: 100%;
            margin-bottom: 16px !important;
            transition: all 0.4s ease;

            h5 {
                height: 140px;
            }

            >div {
                &:first-child {
                    width: calc(100% / 3);
                    border: 1px solid rgba(0, 0, 0, 0.05);
                    background-color: rgba(0, 0, 0, 0.05);
                    padding: 24px 32px;
                }

                &:last-child {
                    width: calc(100% / 3 * 2);
                    background-position: center center;
                    background-size: cover;
                }
            }
        }

        .slider {
            .slides li .caption {
                left: 3%;
                width: 47%;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 32px;

                h3 {
                    color: #f2ad13;
                    text-shadow: 0px 2px 3px #333333;
                    margin: 0px;
                }
            }

            .eTask-96 {
                background-position: 0px -384px;
                height: 96px;
                margin: 24px 16px auto 0px;
                padding: 0px 48px;
            }
        }

        .footer {
            nav {
                height: 40px;
                line-height: 40px;
                background-color: transparent;
                box-shadow: none;
            }

            .card {
                min-height: 100px !important;
            }

            .card-body {
                padding: 0px 32px;
            }
        }

        .flex-2columns>div {
            width: calc(100% / 4 * 3);

            &:first-child {
                width: calc(100% / 4);
                margin-top: 0px;
                border-bottom: 1px solid white;
                padding: 16px 32px;
            }
        }

        /*Flex 2 columns*/

        footer .flex-2columns>div:first-child {
            border-bottom: 0px !important;
        }

        .flex-2columns {
            h4 {
                text-transform: uppercase;
            }

            &:nth-child(2n+1)>div:nth-child(2n) {
                margin: 40px 0px;
            }

            .card {
                min-height: 200px;
                border-left: 1px solid white !important;
            }
        }

        .flex-3columns>div {
            width: 20%;
            background-color: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.07);
            padding: 12px 32px 16px;

            &.blogs-wrap {
                width: 60%;
                padding: 0px 32px 32px;
                border-bottom: 0px;
                border-top: 0px;
                background: none;
                border: none;
            }
        }

        .flex-2items>div {
            width: calc(100% / 2);
            margin-top: 0px;
        }

        .flex-3items>div {
            width: calc(100% / 3);
            margin-top: 0px;
        }

        .flex-4items>div {
            width: calc(100% / 4);
            margin-top: 0px;
        }

        .flex-6items>div {
            width: calc(100% / 4);
            margin-top: 0px;

            &.special {
                width: calc(100% / 2);
            }
        }

        /*Flex 3 columns*/

        /*Hover*/

        .a-topmenu {
            .dropdown-content li:hover {
                background-color: rgba(0, 0, 0, 0.7);
            }

            .side-nav .collapsible-header:hover {
                &.active {
                    background-color: rgba(116, 6, 14, 0.9);
                    color: white;
                }

                background-color: rgba(0, 0, 0, 0.05);
                color: rgba(0, 0, 0, 0.87);
            }
        }

        .a-topuser .dropdown-content li:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        .no-hover .card-body:hover {
            background-color: transparent !important;
            cursor: auto !important;
        }

        .btn:hover {
            background-color: rgba(116, 6, 14, 0.95);
        }

        table.highlight>tbody>tr:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .a-blogcategories .card .card-body:hover,
        .a-recentposts .card .card-body:hover {
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .a-blogcategories .card .card-body:hover .card-title,
        .a-recentposts .card .card-body:hover .card-title {
            background-color: rgba(116, 6, 14, 0.95);
        }

        .a-mainblogs .card:hover {
            background-color: rgba(116, 6, 14, 1) !important;
            color: rgba(255, 255, 255, 1);
            cursor: pointer;

            .a-caption {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .footer .card {
            border: 0px !important;
            margin-top: 32px;
        }

        .a-underconstruction {
            max-width: 100%;
            height: 400px;
            background-image: url('../img/under-construction.jpg');
            background-position: center center;

            >div {
                color: white;
                position: absolute;
                width: 50%;
                left: 20%;
                top: 12%;
            }
        }
    }

    @media (min-width: 1280px) {
        h4 {
            font-size: 32px !important;
        }

        h5 {
            font-size: 24px !important;
        }

        header {
            padding-left: 17px;
        }

        .header-ie {
            display: inline-block !important;
        }

        .a-logo-dark {
            margin: 16px 0px;

            img {
                height: 32px;
            }
        }

        .a-logo-mobile {
            display: none;
        }

        .card-body {
            padding: 32px;
        }

        .eBug-24,
        .eCalendar-24,
        .eStorage-24,
        .eResources-24,
        .eTask-24,
        .eProject-24,
        .ePicture-24 {
            display: inline-block;
            padding: 8px 10px 8px 24px;
        }

        .a-topuser {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 0px;
        }

        .a-mainblogs .card {
            height: 250px;
            width: 100%;
            margin-top: 22px;
            transition: all 0.4s ease;
            margin: 0;

            &:first-child {
                margin-top: 2px;
            }

            h5 {
                height: 140px;
            }

            >div {
                &:first-child {
                    width: calc(100% / 3);
                    border: 1px solid rgba(0, 0, 0, 0.05);
                    background-color: rgba(0, 0, 0, 0.05);
                    padding: 24px 32px;
                }

                &:last-child {
                    width: calc(100% / 3 * 2);
                    background-position: center center;
                    background-size: cover;
                }
            }
        }

        .slider {
            .slides li .caption {
                left: 32px;
                width: calc(50% - 32px);
                background-color: rgba(0, 0, 0, 0.7);
                padding: 32px;

                h3 {
                    color: #f2ad13;
                    text-shadow: 0px 2px 3px #333333;
                    margin: 0px;
                }
            }

            .eTask-96 {
                background-position: 0px -384px;
                height: 96px;
                margin: 24px 16px auto 0px;
                padding: 0px 48px;
            }
        }

        .footer {
            nav {
                height: 40px;
                line-height: 40px;
                background-color: transparent;
                box-shadow: none;
            }

            .card-body {
                padding: 0px 0px 0px 32px;
            }
        }

        .flex-2columns>div {
            width: calc(100% / 4 * 3);

            &:first-child {
                width: calc(100% / 4);
                margin-top: 0px;
                border-bottom: 1px solid white;
                padding: 16px 32px;
            }
        }

        /*Flex 2 columns*/

        footer .flex-2columns>div:first-child {
            border-bottom: 0px !important;
        }

        .flex-2columns {
            h4 {
                text-transform: uppercase;
            }

            &:nth-child(2n+1)>div:nth-child(2n) {
                margin: 40px 0px;
            }

            .card {
                min-height: 200px;
                border-left: 1px solid white !important;
            }
        }

        .flex-3columns>div {
            width: 20%;
            background-color: rgba(0, 0, 0, 0.05);
            padding: 12px 32px 16px;

            &.blogs-wrap {
                width: 60%;
                padding: 0px 32px 32px;
                border-bottom: 0px;
                border-top: 0px;
                background: none;
                border: none;
            }
        }

        .flex-2items>div {
            width: calc(100% / 2);
            margin-top: 0px;
        }

        .flex-3items>div {
            width: calc(100% / 3);
            margin-top: 0px;
        }

        .flex-4items>div {
            width: calc(100% / 4);
            margin-top: 0px;
        }

        .flex-6items>div {
            width: calc(100% / 6);
            margin-top: 0px;

            &.special {
                width: calc(100% / 3);
            }

            &.special-02 {
                width: calc(100% / 3 - 1px);
            }
        }

        /*Flex 3 columns*/

        /*Hover*/

        .a-topmenu {
            .dropdown-content li:hover {
                background-color: rgba(0, 0, 0, 0.7);
            }

            .side-nav .collapsible-header:hover {
                &.active {
                    background-color: rgba(116, 6, 14, 0.9);
                    color: white;
                }

                background-color: rgba(0, 0, 0, 0.05);
                color: rgba(0, 0, 0, 0.87);
            }
        }

        .a-topuser .dropdown-content li:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        .no-hover .card-body:hover {
            background-color: transparent !important;
            cursor: auto !important;
        }

        .btn:hover {
            background-color: rgba(116, 6, 14, 0.95);
        }

        table.highlight>tbody>tr:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .a-blogcategories .card .card-body:hover,
        .a-recentposts .card .card-body:hover {
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .a-blogcategories .card .card-body:hover .card-title,
        .a-recentposts .card .card-body:hover .card-title {
            background-color: rgba(116, 6, 14, 0.95);
        }

        .a-mainblogs .card:hover {
            background-color: rgba(116, 6, 14, 1) !important;
            color: rgba(255, 255, 255, 1);
            cursor: pointer;

            .a-caption {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .footer .card {
            border: 0px !important;
            margin-top: 32px;
        }

        .a-underconstruction {
            max-width: 100%;
            height: calc(100vh - 377px);
            min-height: 300px;
            background-image: url('../img/under-construction.jpg');
            background-position: center center;

            >div {
                color: white;
                position: absolute;
                width: 40%;
                left: 20%;
                top: 20%;
            }
        }

        /* layout page */

        .wrapper-padding-bottom {
            padding-bottom: 312px;
        }

        .footer-bottom {
            position: absolute;
            bottom: 0;
        }

        /* end layout page */
    }

    html {
        height: 100%;
    }

    &.materialize {
        position: relative;
        min-height: 100%;
    }

    // header {
    //     background-color: rgba(0, 0, 0, 0.9);
    // }

    a.a-link {
        color: rgba(116, 6, 14, 0.9);
        text-decoration: none;

        &:hover {
            color: rgba(116, 6, 14, 0.9);
            text-decoration: underline;
        }
    }

    ul.a-list {
        margin-bottom: 0px;

        li {
            list-style-type: circle !important;
            margin-left: 36px;
            margin-top: 8px;
            padding-left: 12px;
        }
    }

    .a-topmenu {
        padding: 0px;

        nav {
            background-color: transparent;
            box-shadow: none;

            ul a {
                color: rgba(255, 255, 255, 0.9);
                padding: 0px 24px;
                text-transform: uppercase;
            }
        }
    }

    ul.hide-on-med-and-down {
        height: 64px;
    }

    .a-topmenu {
        nav a {
            color: rgba(255, 255, 255, 0.9);
        }

        .dropdown-content {
            top: 64px !important;
            background-color: rgba(0, 0, 0, 0.7);

            li>a {
                color: white;
                padding: 16px 24px;
                display: flex;
                text-transform: inherit;

                h6 {
                    font-size: 16px;
                    text-transform: inherit;
                }

                >div {
                    margin-right: 16px;

                    img {
                        width: 32px;
                    }
                }
            }
        }

        .dropdown-button.active {
            background-color: rgba(116, 6, 14, 0.9);
            color: white;
        }

        .side-nav {
            .collapsible-header {
                &.active {
                    background-color: rgba(116, 6, 14, 0.9);
                    color: white;
                }

                &:hover {
                    &.active {
                        background-color: rgba(116, 6, 14, 0.9);
                        color: white;
                    }

                    color: rgba(0, 0, 0, 0.87);
                }

                &.active i {
                    color: white;
                }

                padding: 0px 32px;
            }

            li>a.collapsible-header>i {
                margin: 0px !important;
            }
        }
    }

    .a-topuser {
        nav {
            background-color: transparent;
            box-shadow: none;

            ul a {
                color: rgba(255, 255, 255, 0.9);
                padding: 0px 24px;
                font-weight: 400 !important;
            }

            a {
                color: rgba(255, 255, 255, 0.9);
            }
        }

        .dropdown-button.active {
            background-color: rgba(116, 6, 14, 0.9);
            color: white;
        }

        .dropdown-content {
            background-color: rgba(0, 0, 0, 0.7);
            top: 64px !important;
            right: 0;
            width: 180px !important;

            li>a {
                color: white;
                padding: 16px 24px;
            }
        }

        .button-collapse {
            float: right !important;
        }
    }

    .container-fluid {
        padding: 0px;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .a-product-icon-bright-24,
    .a-product-icon-bright-48,
    .a-product-icon-bright-64 {
        background-image: url(../img/Product-icon.png);
        background-repeat: no-repeat;
    }

    .a-product-icon-dark-24,
    .a-product-icon-dark-48,
    .a-product-icon-dark-64 {
        background-image: url(../img/Product-icon-dark.png);
        background-repeat: no-repeat;
    }

    .a-product-icon-bright-24,
    .a-product-icon-dark-24 {
        background-size: 36px 252px;
        width: inherit;
        height: 36px;
    }

    .eCalendar-24 {
        background-position: center 0px;
    }

    .eStorage-24 {
        background-position: center -36px;
    }

    .eResources-24 {
        background-position: center -72px;
    }

    .eProject-24 {
        background-position: center -108px;
    }

    .eTask-24 {
        background-position: center -144px;
    }

    .ePicture-24 {
        background-position: center -180px;
    }

    .eBug-24 {
        background-position: center -216px;
    }

    .a-product-icon-dark-48,
    .a-product-icon-bright-48 {
        background-size: 60px 420px;
        width: inherit;
        height: 60px;
    }

    .eCalendar-48 {
        background-position: center 0px;
    }

    .eStorage-48 {
        background-position: center -60px;
    }

    .eResources-48 {
        background-position: center -120px;
    }

    .eProject-48 {
        background-position: center -180px;
    }

    .eTask-48 {
        background-position: center -240px;
    }

    .ePicture-48 {
        background-position: center -300px;
    }

    .eBug-48 {
        background-position: center -360px;
    }

    .a-product-icon-bright-64 {
        background-size: 72px 504px;
        width: inherit;
        height: 72px;
    }

    .eCalendar-64 {
        background-position: center 0px;
    }

    .eStorage-64 {
        background-position: center -72px;
    }

    .eResources-64 {
        background-position: center -144px;
    }

    .eProject-64 {
        background-position: center -216px;
    }

    .eTask-64 {
        background-position: center -288px;
    }

    .ePicture-64 {
        background-position: center -360px;
    }

    .eBug-64 {
        background-position: center -432px;
    }

    nav ul a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .slider {
        height: 400px !important;

        &.small {
            height: 300px !important;

            .slides {
                height: 300px !important;
            }
        }

        .indicators {
            position: inherit;
            margin-top: -40px;
            z-index: 2;

            .indicator-item {
                background: rgba(255, 255, 255, 0.4);
                box-shadow: 0px 2px 5px #444444;

                &.active {
                    background: #f2ad13;
                    box-shadow: 0px 2px 5px #444444;
                }
            }
        }
    }

    .btn {
        background-color: rgba(116, 6, 14, 0.9);
        color: white !important;
    }

    .card .card-title {
        font-size: inherit;
        font-weight: inherit;
    }

    .flex-2columns {
        .card {
            margin-bottom: 0px;
            box-shadow: none;
            background-size: cover;
            background-position: center;
            border: 0px;
            border-bottom: 1px solid white;
            border-radius: 0px;
            background-color: transparent;

            .card-text {
                text-align: left;
            }
        }

        &:nth-child(2n+1).highlight>div:nth-child(2n) {
            margin: 0px;
        }

        &:nth-child(2n) {
            background-color: rgba(0, 0, 0, 0.05);
        }

        &.highlight {
            background-color: rgba(242, 173, 19, 1);
        }
    }

    .flex-3columns .card {
        margin-bottom: 0px;
        box-shadow: none;
        background-size: cover;
        background-position: center;
        border: 0px;
        border-radius: 0px;
        background-color: transparent;
        margin-top: 1px;
    }

    .footer {
        position: relative;
        bottom: 0;
        color: white;
        background-color: rgba(116, 6, 14, 1);

        /*margin-top:1px;*/

        .flex-6items p {
            color: rgba(255, 255, 255, 0.8);
            font-size: 13px;
        }

        .a-link {
            color: rgba(255, 255, 255, 0.8);
            font-size: 13px;

            &:hover {
                color: rgba(255, 255, 255, 0.8);
                text-decoration: underline;
            }
        }

        .card {
            border: 0px !important;
        }

        .section-social {
            .a-social-icon {
                background-image: url(../img/Social-icon.png);
                background-repeat: no-repeat;
            }

            .fb-36 {
                background-position: 0px 0px;
                background-size: 153px 36px;
                width: 36px;
                height: 36px;
            }

            .linkedin-36 {
                background-position: -36px 0px;
                background-size: 153px 36px;
                width: 36px;
                height: 36px;
            }

            .youtube-36 {
                background-position: -72px 0px;
                background-size: 153px 36px;
                width: 81px;
                height: 36px;
            }

            li {
                margin-right: 16px;
            }
        }
    }

    input {

        &:not([type]):focus:not([readonly]),
        &[type=text]:not(.browser-default):focus:not([readonly]),
        &[type=password]:not(.browser-default):focus:not([readonly]),
        &[type=email]:not(.browser-default):focus:not([readonly]),
        &[type=url]:not(.browser-default):focus:not([readonly]),
        &[type=time]:not(.browser-default):focus:not([readonly]),
        &[type=date]:not(.browser-default):focus:not([readonly]),
        &[type=datetime]:not(.browser-default):focus:not([readonly]),
        &[type=datetime-local]:not(.browser-default):focus:not([readonly]),
        &[type=tel]:not(.browser-default):focus:not([readonly]),
        &[type=number]:not(.browser-default):focus:not([readonly]),
        &[type=search]:not(.browser-default):focus:not([readonly]) {
            border-bottom: 1px solid rgba(116, 6, 14, 0.9);
            box-shadow: 0 1px 0 0 rgba(116, 6, 14, 0.9);
        }
    }

    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid rgba(116, 6, 14, 0.9);
        box-shadow: 0 1px 0 0 rgba(116, 6, 14, 0.9);
    }

    input {

        &:not([type]):focus:not([readonly])+label,
        &[type=text]:not(.browser-default):focus:not([readonly])+label,
        &[type=password]:not(.browser-default):focus:not([readonly])+label,
        &[type=email]:not(.browser-default):focus:not([readonly])+label,
        &[type=url]:not(.browser-default):focus:not([readonly])+label,
        &[type=time]:not(.browser-default):focus:not([readonly])+label,
        &[type=date]:not(.browser-default):focus:not([readonly])+label,
        &[type=datetime]:not(.browser-default):focus:not([readonly])+label,
        &[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
        &[type=tel]:not(.browser-default):focus:not([readonly])+label,
        &[type=number]:not(.browser-default):focus:not([readonly])+label,
        &[type=search]:not(.browser-default):focus:not([readonly])+label {
            color: rgba(116, 6, 14, 0.9);
        }
    }

    textarea.materialize-textarea:focus:not([readonly])+label {
        color: rgba(116, 6, 14, 0.9);
    }

    .a-caption {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.4);
        font-style: italic;
        width: 100%;
        margin-bottom: 16px;
    }

    .a-tagcloud a {
        padding: 8px 16px;
        background-color: rgba(0, 0, 0, 0.05);
        color: inherit;
        margin: 0px 4px 8px 0px;
        display: inline-block;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: rgba(116, 6, 14, 0.9);
            color: rgba(255, 255, 255, 1);
        }
    }

    .a-blogcategories .card,
    .a-recentposts .card {
        width: 100%;
        height: 120px;
        margin-bottom: 16px !important;
    }

    .a-blogcategories .card .card-body,
    .a-recentposts .card .card-body {
        padding: 0px;
        transition: all 0.2s ease;
    }

    .a-blogcategories .card .card-body .card-title {
        text-align: center;
        background-color: rgba(116, 6, 14, 0.9);
        padding: 4px;
        color: white;
        margin: 0px;
        bottom: 0px;
        position: absolute;
        width: 100%;
        padding: 4px 8px;
    }

    .a-recentposts .card .card-body .card-title {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 4px;
        color: white;
        margin: 0px;
        bottom: 0px;
        position: absolute;
        width: 100%;
        padding: 4px 8px;
        text-align: left;
    }

    .a-mainblogs .a-section {
        border-bottom: 5px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 32px;
        margin-bottom: 24px;
        width: 100%;

        &:last-child {
            border-bottom: 0px;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
    }

    .a-avatar {
        width: 96px;
        height: 96px;
        background-size: 96px 192px;
        border-radius: 48px;
        border: 5px solid rgba(0, 0, 0, 0.05);
        margin: 0px auto;
    }

    .a-mainblogs {
        .a-username {
            margin: 8px 0px 16px;
            text-align: center;
        }

        .a-feedback div.row {
            margin-top: 32px;
        }
    }

    @media only screen and (min-width: 1280px) {
        .appvity-help {
            margin: 0 auto;
            width: 67%;
            max-width: 1280px;
            background-color: rgba(255, 255, 255, 1) !important;

            #help-side-nav {
                width: 25%;
                min-width: 250px;
                border-left: 1px solid rgba(0, 0, 0, 0.1);
            }

            #help-content {
                width: 75%;
                padding: 8px 32px 32px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 0px;
                border-top: 0px;
            }
        }

        .appvity-blogsite {

            #side-nav-blog-category,
            #side-nav-blog-search {
                transform: unset !important;
                -webkit-transform: unset !important;

                /* Safari and Chrome */
                -moz-transform: unset !important;

                /* Firefox */
                -ms-transform: unset !important;

                /* IE 9 */
                -o-transform: unset !important;

                /* Opera */
            }

            .button-collapse {
                display: none;
            }
        }
    }

    @media only screen and (max-width: 1279px) {
        .appvity-blogsite {
            #side-nav-blog-category {
                z-index: 998;
                background: white;
                overflow: hidden;

                /* display: none; */
                position: fixed;
                height: 100%;
                width: 300px;
                top: 0;
            }

            #side-nav-blog-search {
                z-index: 998;
                background: white;
                overflow: hidden;

                /* display: none; */
                position: fixed;
                height: 100%;
                width: 300px;
                top: 0;
                right: 0;
            }

            .button-collapse {
                padding: 23px 24px;
                color: rgba(116, 6, 14, 1);
                background-color: #f3f3f3;

                .material-icons {
                    display: block;
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        .flex-3columns.appvity-blogsite>div.blogs-wrap {
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        .appvity-blogsite .blog-search-button-collapse {
            position: absolute;
            top: 66px;
            right: 0;
            background-color: transparent;
        }
    }

    @media (max-width: 599px) {
        .appvity-blogsite .blog-search-button-collapse {
            top: 56px;
            background-color: transparent;
        }
    }

    /*treeview*/
    @media (min-width: 768px) {
        #help-side-nav {
            width: 40%;
        }
    }

    .app-treeview .app-treview-parent {
        box-shadow: none;
        border: none;

        li {
            .collapsible-header {
                padding: 0;
                border: none;
                background: transparent;
                align-items: center;

                .material-icons {
                    max-width: 32px;
                    min-width: 32px;
                    margin-right: 5px;
                }

                &.active .app-collapse-treeview-ico,
                &:not(.active) .app-expanded-treeview-ico {
                    display: none;
                }
            }

            .collapsible-body {
                padding: 0;
                border: none;

                .app-treeview-child li {
                    padding: 2px 0 2px 48px;

                    a {
                        color: black;
                        text-decoration: none !important;
                    }
                }
            }
        }
    }

    /*end treeview*/

    /* for blogcategories help page */

    .a-blogcategories-02 {
        .card {
            width: 100%;
        }

        .card-body {
            background-color: rgba(0, 0, 0, 0.8);
            transition: all 0.2s ease;
            text-align: center;
            padding: 16px 32px;

            &:hover {
                background-color: rgba(90, 0, 10, 0.95);
                cursor: pointer;
            }

            h5 {
                margin-bottom: 0;
            }

            img {
                height: 48px;
            }
        }

        .card-title {
            color: white;
        }
    }

    /* end for blogcategories help page */
}