/*remove copy*/
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/*end remove copy*/
.block-config {
  /*help*/

  body {
    overflow: hidden;    
  }

  .appLeftNav {
    position: fixed;
    top: 64px;
    height: calc(100vh);
    overflow: auto;
  }

  @media (min-width: 1280px) {
    .app-container-scroll-help .flex-3columns > .appRightContent {
      width: 80%;
      padding-left: calc(20% + 32px);
    }

    .a-screenshot-landscape-large {
      max-width: 100%;
    }

    .a-screenshot-landscape-small {
      max-width: 50%;
    }

    .a-screenshot-portrait {
      max-width: 33%;
    }
  }

  .app-container-scroll-help {
    overflow: auto;
    height: 100vh;
  }

  .app-container-help {
    background: #f3f2f1;
  }

  /*Search input*/

  .app-leftNav-search {
    position: absolute;
    top: 14px;
    left: 10px;
    color: #222222;
    font-size: 15px;
  }

  #side-nav-blog-category .input-field {
    padding: 0 15px 0 0;
  }

  /*end search input*/

  .app-leftNav-parent {
    .collapsible {
      font-size: 14px;
      margin: 0;
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      background: transparent;

      .material-icons {
        line-height: 21px;
        margin: 0;
        font-size: 18px;
        width: 14px;
        margin-right: 5px;
        position: absolute;
        left: 8px;
        top: 13px;
        width: 100%;
        text-align: left;
      }

      .collapsible-body {
        padding: 0;

        /*padding-left: 15px;*/
        border: none;

        .collapsible-body .collapsible-header {
          padding-left: 15px;
        }

        .collapsible-header {
          padding-left: 0px;
        }

        .collapsible-body {
          > ul > li > a {
            padding-left: 60px;
          }

          .collapsible-body {
            > ul > li > a {
              padding-left: 75px;
            }

            .collapsible-body > ul > li > a {
              padding-left: 85px;
            }
          }
        }

        .collapsible-header > i {
          left: 25px;
        }

        .collapsible-body .collapsible-header > i {
          left: 40px;
        }
      }

      .collapsible-header {
        background: transparent;
        padding: 0;
        position: relative;
        border-bottom: 1px solid #f2f2f2;
      }

      li {
        &.active > .collapsible-header > .material-icons.collapse,
        &:not(.active) > .collapsible-header > .material-icons.expand {
          display: none;
        }
      }
    }

    > .app-item-parent
      > .collapsible
      > li.active
      > .collapsible-body
      > ul
      > li {
      &.parent-collapsible {
        border: none;

        > ul
          > li.parent-collapsible-header
          > .collapsible-body
          > ul
          > .parent-collapsible {
          border: none;

          > ul > li.parent-collapsible-header {
            border: none;
          }
        }
      }

      > ul > li {
        border: none;
      }
    }

    a {
      text-decoration: none !important;
      color: #333 !important;
    }

    li {
      /* padding: 12px 0; */
      /*border-bottom: 1px solid #f2f2f2;*/

      &.menu-item-active a {
        background: #efeeed;
      }

      &.app-item-parent {
        border-bottom: none;

        ul li.active {
          border-bottom: none;
        }

        > ul > li {
          margin: 0;
          border: none;
          padding: 0;
        }
      }

      a {
        word-wrap: break-word;
        display: block;
        width: 100%;
        padding: 12px 12px 12px 0;
        padding-left: 30px;
      }
    }
  }

  .app-blank-result {
    word-wrap: break-word;
    display: block;
    width: 100%;
    padding: 12px 12px 12px 0;
    padding-left: 30px;
  }

  .app-leftNav-parent {
    li {
      &:hover a {
        cursor: pointer;
      }

      .collapsible-body li {
        /* padding-left: 2.3rem; */
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
        line-height: 24px;
      }
    }

    .collapsible {
      .collapsible-header:hover,
      .collapsible > li > a:hover,
      .collapsible-body .collapsible-body > ul > li > a:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    li {
      .collapsible-body {
        > ul > li > a:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        li a {
          padding-left: 45px;
          padding: 12px 12px 12px 45px;
        }
      }

      a.menu-item-active {
        background: #75211d !important;
        color: white !important;

        &:hover {
          background: #75211d !important;
          color: white !important;
        }
      }
    }
  }

  .appRow {
    display: flex;
    display: -webkit-flex;
    margin: 0 auto;

    /* height: 100vh; */
    /*border: 1px solid rgba(0,0,0,0.05);*/
  }

  @media (max-width: 1169px) {
    .app-row {
      max-width: 90%;
    }
  }

  .app-container-help {
    .appLeftNav {
      background: white;
      min-width: 290px;
      max-width: 290px;
      max-height: 100vh;
      overflow: auto;
      border-right: 1px solid #f2f2f2;

      .input-field {
        /* padding: 12px; */
        margin: 0;
        border-bottom: 1px solid #f2f2f2;
        position: relative;

        input {
          background: #f9f9f9;
          padding: 0 12px 0 30px;
          width: calc(100% - 42px);
          border: none !important;
          outline: none !important;
          box-shadow: none !important;
          font-size: 14px;
          margin: 0;
        }
      }
    }

    .appRightContent {
      max-height: 100vh;
      overflow: auto;
      padding: 5%;
      padding-top: 0px;
      width: 100%;
      background: white;
    }
  }

  .app-body-help-device {
    .app-container-help .appLeftNav {
      min-width: 0;
    }

    .app-leftNav-parent li a {
      line-height: 24px;
    }
  }

  .app-leftNav-parent {
    li {
      .collapsible-body li a.app-leftNav-parent li a {
        padding-top: 6px;
        padding-bottom: 6px;
      }

      a {
        padding-top: 6px;
        padding-bottom: 6px;
        line-height: 24px;
      }

      .collapsible-body li a {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .collapsible .material-icons {
      top: 8px;
    }
  }

  .app-body-help:not(.app-body-help-device) .btn-sidenav {
    display: none;
  }

  .app-body-help-device .btn-sidenav {
    position: absolute;
    left: 5%;
    top: 15px;
    color: #ccc;
  }

  .app-body-help:not(.app-body-help-device) .drag-target {
    &[data-sidenav="side-nav-blog-search"],
    &[data-sidenav="mobile-topuser"] {
      display: none;
    }
  }

  #autocomplete-input {
    padding-left: 30px !important;
    width: calc(100% - 15px);
  }

  /*global*/

  .a-caption {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    width: 100%;
    margin-bottom: 16px;
  }

  .a-section {
    ol {
      padding-left: 0px;

      > li {
        margin-left: 32px;
        margin-top: 8px;
        padding-left: 16px;

        > p:first-child {
          font-style: italic;
          font-weight: 600;
        }
      }
    }

    ul.a-list li {
      list-style-type: disc !important;
      margin-left: 36px;
      margin-top: 8px;
      padding-left: 12px;

      li {
        list-style-type: circle !important;

        li {
          list-style-type: square !important;
        }
      }
    }

    a {
      color: #74060e;
      text-decoration: none;
    }
  }

  /*end global*/

  ul.a-list {
    margin-bottom: 16px;

    li {
      list-style-type: disc !important;
      margin-left: 36px;
      margin-top: 8px;
      padding-left: 12px;

      li {
        list-style-type: circle !important;
      }
    }

    &.a-list-decimal li {
      list-style-type: decimal !important;
    }

    &.a-list-alpha li {
      list-style-type: lower-alpha !important;
    }
  }

  h6 {
    font-size: 14px !important;
    font-weight: 700;
  }

  a {
    color: #74060e;
    text-decoration: none;
  }

  .a-section {
    a:hover {
      color: #74060e;
      text-decoration: underline;
    }

    h3 {
      font-weight: 300;

      &:not(:first-child) {
        border-top: 6px solid rgba(0, 0, 0, 0.05);
        padding-top: 54px;
        margin-top: 54px;
      }
    }

    h4 {
      &:first-child {
        padding-top: 6%;
        margin-top: 0px;
      }

      &:not(:first-child) {
        border-top: 3px solid rgba(0, 0, 0, 0.08);
        padding-top: 54px;
        margin-top: 54px;
      }
    }

    h5 {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 32px;
      margin-top: 32px;
    }

    h6 {
      font-size: 18px !important;
      font-weight: 500;
      padding-top: 16px;
      margin: 16px 0px;
    }

    img {
      margin-bottom: 16px;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    .flex-3columns.appvity-blogsite > div:nth-child(2n) {
      width: calc(100% - 144px);
    }
  }

  @media only screen and (max-width: 1279px) {
    .appvity-blogsite {
      #side-nav-blog-category,
      #side-nav-blog-search {
        overflow: auto;
      }
    }

    .a-section h3:first-child {
      padding-top: 6%;
      margin-top: 0px;
    }
  }

  @media (max-width: 599px) {
    .a-section {
      h5 {
        padding-top: 35px;
        margin-top: 35px;
      }

      h6 {
        padding-top: 20px;
        margin-top: 20px;
      }
    }

    .appvity-blogsite {
      .blog-category-button-collapse,
      .blog-search-button-collapse {
        position: fixed;
        top: 0;
        width: 50%;
        overflow: hidden;
        padding: 0;
      }

      .blog-category-button-collapse.scrollUp,
      .blog-search-button-collapse.scrollUp {
        /* height: 53px; */
        transition: height 1s;
        -webkit-transition: height 1s;
      }

      .blog-category-button-collapse.scrollDown,
      .blog-search-button-collapse.scrollDown {
        height: 0;
        transition: height 1s;
        -webkit-transition: height 1s;
      }

      .blog-category-button-collapse i.material-icons {
        padding: 8px 0 8px 24px;
      }

      .blog-search-button-collapse {
        i.material-icons {
          padding: 8px 24px 8px 0;
        }

        text-align: right;
        background-color: #f3f3f3;
      }
    }
  }

  @media (max-width: 1279px) and (min-width: 768px) {
    .a-screenshot-landscape-large {
      max-width: 100%;
    }

    .a-screenshot-landscape-small {
      max-width: 45%;
    }

    .a-screenshot-portrait {
      max-width: 33%;
    }
  }

  @media (max-width: 767.98px) {
    .a-screenshot-landscape-large,
    .a-screenshot-landscape-small,
    .a-screenshot-portrait {
      max-width: 100%;
    }
  }

  .a-screenshot-landscape-large {
    margin-bottom: 10px;
    margin-top: 10px;
    vertical-align: top;
    box-shadow: 0px 1px 3px #ccc;
  }

  .a-screenshot-landscape-small,
  .a-screenshot-portrait {
    margin-bottom: 10px;
    margin-right: 24px;
    margin-top: 10px;
    vertical-align: top;
    box-shadow: 0px 1px 3px #ccc;
  }

  .a-icon {
    width: 20px;
    margin-bottom: 6px;
  }

  /* Start DivTable.com */

  .divTable {
    display: table;
    width: 100%;
    overflow: auto;

    /*display: block;*/
  }

  @media (max-width: 1280px) {
    .divTable {
      display: block;
    }
  }

  .divTableRow {
    display: table-row;
  }

  .divTableHeading {
    background-color: #eee;
    display: table-header-group;
  }

  .divTableHead,
  .divTableCell {
    display: table-cell;
    padding: 8px 16px;
  }

  .divTableBody .divTableRow:nth-child(odd) .divTableCell {
    background-color: #f3f3f3;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
  }

  .divTableHeading {
    background-color: #eee;
    display: table-header-group;
    font-weight: bold;
  }

  .divTableFoot {
    background-color: #eee;
    display: table-footer-group;
    font-weight: bold;
  }

  .divTableBody {
    display: table-row-group;

    .divTableRow:first-child .divTableCell {
      background-color: #75211d;
      color: #ffffff;
    }
  }

  .color-red {
    color: red;
  }

  /* End DivTable.com */

  .app-body-help.app-body-help-device {
    .app-container-scroll-help {
      overflow: visible;
    }

    overflow: auto;
  }

  table.a-table {
    border: 1px solid;

    th,
    td {
      border-bottom: 1px solid;
      text-align: center;
    }
  }

  .a-table td:first-child img {
    width: 81px;
  }

  table.a-table-02 {
    td,
    th {
      border: 1px solid;
      text-align: center;
      font-weight: bold;
    }
  }

  /*end help*/
}
