.block-config {
    .app-leftNav-parent {
        .collapsible {
            .collapsible-header{
                .collapse:not(.show) {
                    display: inline-block;
                }
            }
        }
    }
    .a-section h3:not(:first-child) {
        border-top: none;
        padding-top: 6%;
        margin-top: 0px;
    }
    .app-movetop-show {
        display: inline-block;
        background-color: #FF9800;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 4px;
        margin: 30px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s;
        z-index: 1000;
        .ms-fontSize-42 {
            font-size: 42px;
        }
      }
    .app-movetop-show:hover {
    cursor: pointer;
    background-color: #333;
    }
    
    .app-movetop-show:active {
    background-color: #555;
    }
    
    .app-navigation-wrap {
        display: flex;
        justify-content: space-between;
        #btnPrevious, #btnNext {
            font-size: 24px;
            font-weight: 300;
            background-color: transparent;
            border: none;
            font-family: 'Segoe UI', 'SegoeUI', "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        #btnPrevious:hover, #btnNext:hover {
            color: $red;
        }
        #btnPrevious:disabled, #btnNext:disabled {
            color: $medium-gray;
        }
        .ms-fontSize-20 {
            font-size: 17px;
        }
    }
    
    .app-feedback-wrap {
        background-color: $gray;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
    }

    .app-feedback-text {
        background-color: $gray;
        display: flex;
        justify-content: center;
        margin-top: -23px;
        visibility: hidden;
    }
}

.materialize {
    .footer {
        .a-link {
            color: $white !important;
        }
    }
    #sidenav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 120vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 997;
        will-change: opacity;
    }
}

.block-help-pages .toc-title {
    padding-left: 0px !important;
}

@media (min-width: 1280px) {
    .block-blog-pages {
        .flex-3columns {
            .appLeftNav, .app-blog-toc {
                width: 20% !important;
            }
        }
    }
}